{% extends "::base.html.twig" %}

{% block titulo %}Ubica Células - {% endblock %}

{% block stylesheets %}
	<link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/DT_bootstrap.css')}}">
    <style>
	#mapa{
		height: 350px;
	}
	</style>
{% endblock %}

{%block javascript %}
	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('js/jquery.peity.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/jquery.flot.js')}}"></script>
	<script src="{{asset('js/jquery.color.js')}}"></script>
	<script src="{{asset('js/jquery.flot.resize.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>
	
	<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script -->
	<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="{{asset('js/infobox/infobox.js')}}"></script>
	<script src="{{asset('js/infobox/prueba.js')}}"></script>
	<script src="{{asset('js/ganar.js')}}"></script>
	
	<script type="text/javascript">
		
		var url = '{{path('servicio_enviar_lista_celulas')}}';

		$(document).on('ready',prueba);

		function prueba(){
			//lista de departamentos
			initDepartamentos('{{path("servicio_region")}}');
			
			$.ajax({
	            url: url,
	            async: false,
	        }).done(function(data){
	        	setGlobalJSON("data",data);
                        console.log(data);
	        	start();
            });
		}

		function departamentos(datos)
        {
	        $('<option value="-1"></option>').appendTo('#departamento_lista');
            for(var i=0; i<datos.length ; i++)
            {
                $('<option value='+datos[i].coddepartamento+'>'+datos[i].departamento+'</option>').appendTo('#departamento_lista');
            } 

            recarga_provincias();
        }

		function recarga_provincias()
     	{
        	var route = '{{path('servicio_provincia',{'id': 'nom'})}}';            

         	var id = $("#departamento_lista option:selected").val();              
         	var rutas = route.replace('nom',id);         
         	$.ajax(
            	{   url : rutas,
                    dataType:"json",
                    type: "POST",
                    async: false,
                }
            ).done(provincias);        
     	}  
    
        function provincias(dato)
        {
             $("#provincia_lista").empty();
             $('<option value="-1"></option>').appendTo('#provincia_lista');
             for(var i=0;i<dato.length;i++)
            {
                $('<option value='+dato[i].codprovincia+'>'+dato[i].provincia+'</option>').appendTo('#provincia_lista');
            }
             $('#provincia_lista').attr('disabled',false);
            recarga_distritos();
            
        }
        
        function recarga_distritos()
        {
            var route = '{{path('servicio_distrito',{'dep':'id1','prov':'id2'})}}';

            var dep=$("#departamento_lista option:selected").val();
            var prov = $("#provincia_lista option:selected").val();

            
            var rutas = route.replace('id1', dep);                    
            rutas = rutas.replace('id2', prov);
            
             $.ajax(
                {   url : rutas,
                    dataType:"json",
                    type: "POST",
                    async: false,
                }
            ).done(distrito);
            $('#distrito_lista').attr('disabled',false);
        };

		function getUbigeo(){
			var ruta = '{{ path('servicio_ubigeo',{'id':'iddist'}) }}';

			var id = $('#distrito_lista').val();

			ruta = ruta.replace('iddist',id);

			var ubigeo = $.ajax({
				url: ruta,
				dataType:"json",
				type: "POST",
				async: false,	
			}).responseText;
			ubigeo = JSON.parse(ubigeo)[0];
			//console.log(ubigeo);
			
			buscarDireccion(ubigeo);
		}
        
	</script>
	
{%endblock%}

{% block content %}
<div class="span9" id="registro_form">
	<h1>Ubica Células</h1>
	<br />
	<div class="form-horizontal">
		<div class="control-group">
	    	<label class="control-label" >Departamento:</label>
	        <div class="controls">
	        	<select name="departamento_lista" id="departamento_lista" style="width: 165px; height: 24px;" ></select>
	        </div>
	    </div>
	
		<div class="control-group">
	    	<label class="control-label">Provincia:</label>
	        <div class="controls">
	        	<select name="provincia_lista" id="provincia_lista" style="width: 165px; height: 24px;" disabled="disabled"></select>
	        </div>
	    </div>
		
		<div class="control-group">
	    	<label class="control-label">Distrito:</label>
	        <div class="controls">
	        	<select name="distrito_lista" id="distrito_lista" style="width: 165px; height: 24px;" disabled="disabled" ></select>
	        </div>
	    </div>
		
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="button" value="Buscar" onClick="getUbigeo()">
			</div>
	    </div>
		<div class="control-group">
			<div class="controls">
				<div id="mapa"></div>
			</div>
	    </div>
	</div>
</div>
{%endblock%}