{% extends "::base.html.twig" %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{{asset('css/DT_bootstrap.css')}}">  
                 
{% endblock %}                 

{% block content %} 
<div class="span9" >
    
        <div>
        <div class="box">
            <div class="box-head tabs">
                <h3>Redes</h3>
            </div>
        </div>
    
        <div class="box-content box-content">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped  table-bordered"  id="red_table" name="red_table">
                <col width="20%" />
		<col width="50%" />
		<col width="30%" />
                
                <thead>
                    <tr>
                        <th>Red</th>
                        <th>Lider</th>
                        <th>Descripción</th>
		    </tr>
                </thead>
                <tbody>
                    <tr>
			<td>1</td>
			<td>Neque  ipsum quia dolor sit amet velit...</td>
			<td>Valdivieso Castillo</td>
                    </tr>
                    <tr>
			<td>1</td>
			<td>Neque  ipsum quia dolor sit amet velit...</td>
			<td>Valdivieso Castillo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
	
           
        <div>
        <div class="box">
            <div class="box-head tabs">
                <h3>Celulas</h3>
            </div>
        </div>
    
        <div class="box-content box-content">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped  table-bordered"  id="celula_table" name="celula_table">
                <col width="20%" />
		<col width="25%" />
                <col width="25%" />
		<col width="30%" />
                
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Lider</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
		    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        </div>
	
    
        <div class="box">
		<div class="box-head tabs">
            <h3>Temas de Célula (Nombre o ID)</h3>							
        </div>

        <div class="box-content box-nomargin">
            <form id='form' name='form' method='POST' class="form-horizontal" action='{{path('enviar_asistencia_celula_update')}}'>
                
            	<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped  table-bordered"  id="persona" name="persona">
            		<col width="10%" />
					<col width="40%" />
					<col width="30%" />
					<col width="10%" />
					<col width="10%" />
            		<thead>
                		<tr>
                                    <th>ID</th>
                                    <th>Título</th>
                                    <th>Autor</th>
                                    <th>Asistencia</th>
                                    <th>Fecha</th>
		                </tr>
			</thead>
			<tbody id="tablas1" name="tablas1" >
            	<tr>
					<td>1</td>
					<td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</td>
					<td>Valdivieso Castillo</td>
			        <td><button class="btn">Asistencia</button></td>
			        <td>2013-05-25</td>
			    </tr>
			    <tr>
					<td>1</td>
					<td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</td>
					<td>Valdivieso Castillo</td>
			        <td><button class="btn">Asistencia</button></td>
			        <td>2013-05-25</td>
			    </tr>
			    <tr>
					<td>1</td>
					<td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</td>
					<td>Valdivieso Castillo</td>
			        <td><button class="btn">Asistencia</button></td>
			        <td>2013-05-25</td>
			    </tr>
			    <tr>
					<td>1</td>
					<td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</td>
					<td>Valdivieso Castillo</td>
			        <td><button class="btn">Asistencia</button></td>
			        <td>2013-05-25</td>
			    </tr>
			</tbody>
                </table>
                    
                <div class="form-horizontal">
                    <input class="btn-success" id="vista" name="vista" type="submit" value="Guardar cambios">
                </div>

                </form>
    	</div>
	</div>
       
        
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
            <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
                        <script src="{{asset('js/functiongen.js')}}"></script>

			
			<script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            <script src="{{asset('js/DT_bootstrap.js')}}"> </script>
  
    <script type="text/javascript">
        var funcion = function(data)
            {
                console.log(data);
                if(data.responseCode==200)
                {
                    alert('Registro Completado');
                    //location.reload();
                }
                else
                {
                    alert('Error inesperado');
                }
                
            }
            
        function est()
        {
            var myTr = [];
           $('#persona tbody tr').each(function () {
               
              var rt = $(this).find('td').first();
              
               myTr.push(rt.text());
           
            });
           
            return myTr;
        }
            
        var ids=[];
        
	$(document).ready(function() {


	 });
         
  
       </script>
{%endblock %} 