{% extends "::base.html.twig" %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{{asset('css/DT_bootstrap.css')}}">  
                 
{% endblock %}                 

{% block content %} 
<div class="span9" >
	<div class="box">
		<div class="box-head tabs">
            <h3>Temas Célula</h3>							
        </div>

        <div class="box-content box-nomargin">
        	<form id='form' method='POST'>
     
            	<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped  table-bordered"  id="persona" name="persona">
            		<thead>
                		<tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th class="table-checkbox">Asistencia</th>
		                </tr>
			</thead>
			<tbody id="tablas1" name="tablas1" >
	
			</tbody>
                </table>

                </form>
    	</div>
	</div>
        <div class="form-horizontal">
                <button class="btn-success" id="vista" name="vista"> Descargar </button>
                <button class="btn-success" id="analizar" name="analizar"> Analizar </button>
        </div>
        
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
            <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
			
			<script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            <script src="{{asset('js/DT_bootstrap.js')}}"> </script>
  
    <script type="text/javascript">
            
	$(document).ready(function() {
            
  
            var code = {{id}};
            var url = '{{path('servicio_enviar_lista_celula',{'id': ':rut'})}}';
            var ruta = url.replace(':rut',code);
  
            $.post(ruta,function(data){
                     $(data).appendTo('#persona');   
                    }
                  );
    
	 });
  
       </script>
{%endblock %} 