{% extends "::base.html.twig" %}

{% block titulo %}Toma de Asistencia - {% endblock %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{{asset('css/DT_bootstrap.css')}}">  
                 
{% endblock %}                 

{% block content %} 
<div class="span9" >
	<h1>Toma de Asistencia</h1>
	
	<form id='form' name='form' method='POST' class="form-horizontal" >
                
                <fieldset>
                    <legend>Datos de Célula</legend>
                 <div class="control-group">
                     <label class="control-label">ID Clase Célula</label>
                     <div class="controls">
                         <p style="margin-top:5px;">{{id}}</p>
                         <input type="hidden" value="{{id}}" id="claseid" name="claseid">
                     </div>
                 </div>
                
                <div class="control-group">
                        <label class="control-label" >Célula</label>
                        <div class="controls">
                            <p style="margin-top:5px;" id="celula">{{celula}}</p>
                        </div>
                </div>
                 
                <div class="control-group">
                    <label class="control-label" >Tema Célula</label>
                    <div class="controls">
                        <p style="margin-top:5px;" id="tema_celula">{{titulo}}</p>
                    </div>
                </div>
                    
                 <div class="control-group">
                    <label class="control-label" >Tipo de Célula</label>
                    <div class="controls">
                        <p style="margin-top:5px;" id="tipo_celula">{{tipo}}</p>
                    </div>
                </div>
                 
                <div class="control-group">
                    <label class="control-label" >Horario</label>
                    <div class="controls">
                        <p style="margin-top:5px;" id="horario" >{{dia}}</p>
                    </div>
                </div>
                 
                <div class="control-group">
                    <label class="control-label" >Ofrenda</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="ofrenda" name="ofrenda" value="{{ofrenda}}">
                    </div>
                </div>
                    
                 <div class="control-group">
                    <label class="control-label" >Invitados</label>
                    <div class="controls">
                        <input type="number" class="input-xlarge" id="invitados" name="invitados" value="0" required>
                    </div>
                </div>
          
                </fieldset>
	 <input id='content' type='hidden' name='content' >
     <input id='title' type='hidden' name='title' >
     <input id='pdfbutton' type='button' value='PDF' class="btn btn-info">
     <input id='excelbutton' type='button' value='Excel' class="btn btn-info">
     <input id='numfilas' type="hidden" name="numfilas" value="0">
     
	<div class="box" style="margin-top:0;">

        <div class="box-content box-nomargin">
            
            
			<div class="box-head">
				<h3>Asistencia</h3>
			</div>
                       
			<div class="box-content box-nomargin" id="tabla_asistencia">
			</div>
               
    	</div>
	</div>
        <div class="form-horizontal">
                    <input class="btn btn-primary" id="guardar" name="guardar" type="button" value="Guardar cambios">
                </div>

                </form>
        
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
            <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
                        <script src="{{asset('js/functiongen.js')}}"></script>

			
			<script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            <script src="{{asset('js/DT_bootstrap.js')}}"> </script>
  
    <script type="text/javascript">
        var funcion = function(data)
            {
                console.log(data);
                if(data.responseCode==200)
                {
                    alert('Registro Completado');
                    location.replace('{{path('enviar_asistencia')}}');
                }
                else
                {
                    alert('Error inesperado');
                }
                
            }
            
        function est()
        {
            var myTr = [];
           $('#persona tbody tr').each(function () {
               
              var rt = $(this).find('td').first();
              
               myTr.push(rt.text());
           
            });
           
            return myTr;
        }
            
        var ids=[];
        
        var tip=0;
	$(document).ready(function() {
            var url = '{{path('_enviar_asistencia_celula_class',{'id':':id','tipo':':tip'})}}';
            
                        url = url.replace(':id','{{id}}');

            if('{{tipo}}'==='Mentoreo')
            {    url = url.replace(':tip',1);
                tip=1;
            }          
            else
            {
                url = url.replace(':tip',0);
                tip=0;
            }
            
            ajaxResposeData("tabla_asistencia",url);
            
            $("#pdfbutton").click(function(event) {
              
                var n = $('.check_ast').length;
                var todo= $('.check_ast');
                
                for(var i=0; i<n; i++)
                {
                    var est = $(todo[i]).attr('data');
                    if($('#'+est).is(":checked") ==true)
                        $(todo[i]).text('Si');
                    else
                        $(todo[i]).text('No');

                }
                  $("#persona th").css("width","auto");
            	$("#content").val($("#persona").html());
            	$("#title").val($("h3").html());
            	//$("#content").val($("#lol").html() + $("tbody").html());
                $("#form").attr("action", "{{asset('extensiones/exportpdf.php')}}");
                
               
		$("#form").submit();
            });

            $("#excelbutton").click(function(event) {
                 var n = $('.check_ast').length;
                var todo= $('.check_ast');
                
                for(var i=0; i<n; i++)
                {
                    var est = $(todo[i]).attr('data');
                    if($('#'+est).is(":checked") ==true)
                        $(todo[i]).text('Si');
                    else
                        $(todo[i]).text('No');

                }
            	$("#content").val("<table>" + $("#persona").html() + "</table>");
		$("#form").attr("action", "{{asset('extensiones/exportexcel.php')}}");
		$("#form").submit();
            });
            enviar('form',funcion);
            
            $("#guardar").click(function(event){
                
                var n = $('.check_ast').length;
                $('#numfilas').val(n);
                var url = "{{path('enviar_asistencia_celula_update',{'tipo':':tip'})}}";
                
                url = url.replace(':tip', tip);
                
                $("#form").attr("action",url);
                $("#form").submit();
            });
            
            
 
	 });
         
  
       </script>
{%endblock %} 