{% extends "::base.html.twig" %}

{% block titulo %}Temas de Célula - {% endblock %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{{asset('css/DT_bootstrap.css')}}">  
                 
{% endblock %}                 

{% block content %} 
<div class="span9" >
	<div class="box">
		<div class="box-head tabs">
            <h3>Temas de Célula</h3>							
        </div>

        <div class="box-content box-nomargin">
        	<form id='form' method='POST'>
                
                    <input id='content' type='hidden' name='content' >
                    <input id='title' type='hidden' name='title' >
                    <input id='pdfbutton' type='button' value='PDF' class="btn btn-info">
                    <input id='excelbutton' type='button' value='Excel' class="btn btn-info">
            
            	<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped dataTable table-bordered"  id="persona" name="persona">
            		<thead>
                		<tr>
                                    <th width="5%">ID</th>
                                    <th>Titulo</th>
                                    <th width="10%">Fecha</th>
                                    <th>Autor</th>
                                    <th width="11%">Tipo</th>
                                    <th>Descripción</th>
		                </tr>
			</thead>
			<tbody id="tablas1" name="tablas1" >
	
			</tbody>
                </table>

                </form>
    	</div>
	</div>
        <div class="form-horizontal">
            <button class="btn btn-primary" id="vista" name="vista">Descargar</button>
        </div>
        
        <div class="form-horizontal" id="clicker" name="clicker">
            <div class="control-group">

                <label class="control-label"> Dar click en el boton</label>
                <div class="controls">
                        <a href="" id="down" name="down" target="_blank">Click</a>
                </div>
                
            </div>
        </div>
        
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
            <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
			
			<script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            <script src="{{asset('js/DT_bootstrap.js')}}"> </script>
            <script src="{{asset('js/tablasfeatures.js')}}"></script>
    <script type="text/javascript">
 
         var trselected; 
	 var oTable;
         
        var values = [];
         
	$(document).ready(function() {
            
        $("#vista").css({"display":"none"});
        $("#clicker").css({"display":"none"});
        
        $("#analizar").css({"display":"none"});
        
		$("#pdfbutton").click(function(event) {
            $("#persona th").css("width","auto");
        	$("#content").val($("#persona").html());
        	$("#title").val($("h3").html());
        	//$("#content").val($("#lol").html() + $("tbody").html());
            $("#form").attr("action", "{{asset('extensiones/exportpdf.php')}}");
	 		$("#form").submit();
        });

        $("#excelbutton").click(function(event) {
        	$("#content").val("<table>" + $("#persona").html() + "</table>");
	$("#form").attr("action", "{{asset('extensiones/exportexcel.php')}}");
	$("#form").submit();
        });
        
            $('#persona tbody').click(function(event){
                $(oTable.fnSettings().aoData).each(function(){
                    $(this.nTr).removeClass('row_selected');
                });
                
                $(event.target.parentNode).addClass('row_selected');
                
                trselected = $(event.target.parentNode);
                
                var tds = $(trselected).find('td');
                values = [];
  
                $.each(tds, function(index, item) {
                    values.push(item.innerHTML); 
                });      
                
                $("#vista").css({"display":"block"});
                $("#analizar").css({"display":"block"});
            });
            
            //click handler para descargar archivo
            $('#vista').click(function(event){
                var anSelected = fnGetSelected(oTable);
                event.preventDefault();
                //oTable.fnDeleteRow(anSelected[0]);
                if(anSelected.length !=0)
                {
                    console.log(anSelected);
                    var tds = $(anSelected).find('td');
                    var val = [];
                    $.each(tds, function(index, item) {
                        val.push(item.innerHTML); 
                    }); 
 
                    var url='{{path('enviar_lista_clases_descarga')}}';
  
                     $.post(url,{
                        formName:val,
                        other:"attributes"
                    },function(data){
                        
                    //the response is in the data variable
                               
                    if(data.responseCode==200 ){           

                       var ruta = "{{asset(':es')}}";
                       var url = ruta.replace(':es',data.greeting);
                                              
                       $("#down").attr("href",url);
                       console.log(url);
                       $("#clicker").css({"display":"block"});

                    }
                    else if(data.responseCode==400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode==500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    }
                    );
                    
                }
            });
            /*
            //click handler para analizar
            $('#analizar').click(function(){
                var anSelected = fnGetSelected(oTable);
                //oTable.fnDeleteRow(anSelected[0]);
                if(anSelected.length !=0)
                {
                    console.log(anSelected);
                    var tds = $(anSelected).find('td');
                    var val = [];
                    $.each(tds, function(index, item) {
                        val.push(item.innerHTML); 
                    }); 
 
                    var rutas='{{path('consolidar_activar_nuevo')}}';
              
                }
            });
            */
   
            /* Build the DataTable with third column using our custom sort functions */
            oTable = $('#persona').dataTable( {
                                    
                "bProcessing": true,
                "bServerSide": false,
                "bDestroy": true,
                "sAjaxSource": '{{path('servicio_enviar_temas_celula')}}',
                "aoColumns": [
                    { "mDataProp": "id" },
                    { "mDataProp": "titulo" },
                    { "mDataProp": "fecha" },
                    { "mDataProp": "autor" },
                    { "mDataProp": "tipo"},
                    { "mDataProp": "descripcion" }
                ],
		"aaSorting": [  [2,'desc'] ],
		"aoColumnDefs": [
                    { "sType": 'string-case', "aTargets": [ 2 ] }
		],"sDom": 'T<"clear">lfrtip',
                "oTableTools": {
			"sRowSelect": "single",
                        "fnRowSelected": function ( node ) {
                            var s=$(node).children();
                            alert("Selected Row : " + s[0]);
                        }
		},
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {
						"sLengthMenu": "_MENU_ registros por página"
					}
            } );	
   
	 });
         
    
       </script>
{%endblock %} 