{% extends "::base.html.twig" %}

{% block titulo %}Registrar Tema de Célula - {% endblock %}
        
{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/DT_bootstrap.css')}}">
{% endblock %}

{%block content %}
            <div class="span9" id="registro_form">
                <form class="form-horizontal" action="{{path('enviar_temacelula_updated')}}"  method="POST" id="myForm" name="myForm">
                    <legend>Registrar Tema de Célula</legend>
        
                    <fieldset> 
                        <div class="control-group">
                            <label class="control-label" >Titulo</label>
                            <div class="controls">
                                <input type="text" id="titulo" name="titulo" placeholder="Titulo" class="input-xxlarge" pattern="|^[a-zA-Z ñÑáéíóúüç0-9]+$|" required autofocus>
                            </div>
                        </div>
            
                        <div class="control-group">
                            <label class="control-label" >Autor</label>
                            <div class="controls">
                                <input type="text" id="author" name="author" placeholder="Autor" class="input-xxlarge" pattern="|^[a-zA-Z ñÑáéíóúüç]+$|" required>
                            </div>
                        </div>
                            
                        <div class="control-group">
                            <label class="control-label" >Descripción</label>
                            <div class="controls">
                                <textarea rows="5" id="descripcion" name="descripcion" placeholder="Descripción" class="input-xxlarge" required> </textarea>
                            </div>
                        </div>
                            
                        <div class="control-group">
                            <label class="control-label">Tipo</label>
                            <div class="controls">
                                <select id="tipo"  name="tipo" required>
                                    <option value="Evangelistica">Evangelistica</option>
                                    <option value="Mentoreo">Discipulado</option>
                                </select>
                            </div>
                        </div>
                            
                        <div class="control-group">
                            <label class="control-label">Archivo</label>
                            <div class="controls">
                                <input type="file" name="file0" class="fileup file-uploader">
                                <input type="hidden" name="filename0" class="name">
                            </div>
                        </div>
                            
                        
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <input type="button" class="btn btn-primary" value="Enviar" id="cargar">
                            </div>
                        </div>
                    </fieldset>
            </form>
                    
{% endblock %}
     
{%block javascript %}
	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.peity.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/jquery.flot.js')}}"></script>
	<script src="{{asset('js/jquery.color.js')}}"></script>
	<script src="{{asset('js/jquery.flot.resize.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>            
        <script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
  	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
        <script src="{{asset('js/FileUp.js')}}"></script>
	<!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->
	
	 <script type="text/javascript">
            $(document).ready(function() {
            	/*var data = $.ajax({
                url: "",
                async: false
                }).responseText;
            	*/
               
            	FileUp = new FileUp("cursos");
            	FileUp.init();
                
            	$('#cargar').click(function(ev) {
            		FileUp.uploadQueue(ev);
            	});
           

            $("#myForm").submit(function(){
                
                //get the url for the form
                var url=$("#myForm").attr("action");
                   
                   
                //start send the post request
                $.post(url,{
                    formName:$("#myForm").serialize(),
                    other:"attributes"
                },function(data){
                //the response is in the data variable
                           
                if(data.responseCode==200 ){           
                    
                    alert('Registrado');
                    
                    location.reload();
                    
                }
                else if(data.responseCode==400){//bad request
                   alert('Error bad request');
                    }
                else{                        
                    if(data.responseCode==500)
                    {
                        alert('Error bad request');
                    }
                    else alert("An unexpeded error occured.");
                    }
                }
                );
                return false;});   
             });
    </script>                    
{%endblock%}