{% extends "::base.html.twig" %}

{% block titulo %}Modificar ganador de convertidos- {% endblock %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/DT_bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('css/bootstrap.datepicker.css')}}">
{% endblock %}                 

{% block content %} 
<div class="span9" >
	<h1>Modificar ganador de convertidos</h1>
        
        
      <fieldset>
       <legend>Ganador</legend>
            
      <form id="myForm" name="myForm" method="POST" action="{{path('ganar_modificar_ganador_up')}}">
                
                <div class="control-group">
            <label class="control-label" >Desde</label>
            <div class="controls">
                <input type="text" class="datepick rango" id="desde" name="desde" required>
            </div>
        </div>
        
        
         <div class="control-group">
            <label class="control-label" >Hasta</label>
            <div class="controls">
                <input type="text" class="datepick rango" id="hasta" name="hasta" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Red</label>
            <div class="controls">
                <select id="red_lista" name="red_lista" class="rango">
                   
                </select>
            </div>
        </div>
       
        <div class="control-group">
            <label class="control-label">Tipo</label>
            <div class="controls">
                <select id="tipo_lista" name="tipo_lista" >
                    <option value="-1" >12</option>
                    <option value="1">144</option>
                    <option value="12">1728</option>
                    <option value="144" >20736</option>
                </select>
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label">Lideres</label>
            <div class="controls">
                <select id="lideres_lista" name="lideres_lista" >
                   
                </select>
            </div>
        </div>
                
                    <input type="hidden" id="nuevo" name="nuevo" value="">
               <div class="form-horizontal" id="select" name="select">
        
                    {% if is_granted('ROLE_GANAR') %}
                    <input type="submit" class="btn btn-primary" id="modificar" name="modificar" value="Modificar">
                    {% endif %}
        
                    <!-- button class="btn-success" id="modificar" name="modificar" value="Modificar">
                            <a id="mas" href="" >Modificar</a>
                    </button -->
        
                    </div>
            </form>
        
        </fieldset>
        
        
	<div class="box">
		<div class="box-head tabs">
            <h3>Nuevos Convertidos</h3>	
                </div>
       

        <div class="box-content box-nomargin">
        	<form id='form' method='POST'>
                
                    <input id='content' type='hidden' name='content' >
                    <input id='title' type='hidden' name='title' >
                    <input id='pdfbutton' type='button' value='PDF' class="btn btn-info">
                    <input id='excelbutton' type='button' value='Excel' class="btn btn-info">
            
            	<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped dataTable table-bordered"  id="persona" name="persona">
            		<thead id='lol'>
                		<tr>
		                    <th>ID</th>
		                    <th>Nombres</th>
		                    <th>Apellidos</th>
		                    <th>Edad</th>
		                    <th>Red</th>
		                    <th>Conversión</th>
                                    <th>ID G.</th>
                                    <th>Ganado por</th>
		                </tr>
					</thead>
					
	
    			</table>
   			</form>
    	</div>
            
	</div>
    
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
            <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
                        <script src="{{asset('js/tablasfeatures.js')}}"></script>
                       	<script src="{{asset('js/functiongen.js')}}"></script>
                        <script src="{{asset('js/ganar.js')}}"></script>
                        <script src="{{asset('js/tiempo.js')}}"></script>
                	<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
                      	<script src="{{asset('js/datatable_plugins.js')}}"></script>

			
			<script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            <script src="{{asset('js/DT_bootstrap.js')}}"> </script>
            
          
 
 
    <script type="text/javascript">
 
         var trselected; 
	 var oTable;
         
        var values = [];
        
       
         function recargar_celula()
        {
            recarga_lider();
        }
        function recarga_lider()
        {
            var net = $('#red_lista option:selected').val();
            var tipo = $('#tipo_lista option:selected').val();
            
            if(net!='-1')
            {
               var url ='{{path('servicio_red_tipo',{'red':'net','tipo':'kind'})}}';
               url = url.replace('net',net);
               url = url.replace('kind',tipo);
               
               ajaxListPost(url,'lideres_lista',net);
            }
            else{ $('#lideres_lista').empty();
                             $("<option value='-1'></option>").appendTo('#lideres_lista');
   
            }
        }
        
         
         var logg = function logeo(data)
        {
                    
                    if(data.responseCode == 200)
                    {
                          alert('Registro Completado');
                          oTable.fnReloadAjax();                            
                    }
        }
        
	$(document).ready(function() {
            
            
            enviar('myForm', logg);
            
           var rede = '{{red}}';
           
            FechaActualT('desde');
            FechaActualT('hasta');
                  
            {% if is_granted('ROLE_GANAR') %}
                 initRed('{{path('servicio_red_sin')}}');
                 
            $("<option value='0'>Todos</option>").appendTo('#red_lista');
                                     
            {% else %}                      
                      
                      if(rede.length ===0)
                      $("<option value='-1'>Sin red </option>").appendTo('#red_lista');
                      else $("<option value='"+rede+"'>"+rede+"</option>").appendTo('#red_lista');

                      $("<option value='-1'>Sin  Celula </option>").appendTo('#celula_lista');

            {% endif%}
        
             $('#select').css({'display':'none'});

             $('#red_lista').change(recarga_lider);
             $('#tipo_lista').change(recarga_lider);
             
            $("#pdfbutton").click(function(event) {
                $("#persona th").css("width","auto");
            	$("#content").val($("#persona").html());
            	$("#title").val($("h3").html());
            	//$("#content").val($("#lol").html() + $("tbody").html());
                $("#form").attr("action", "{{asset('extensiones/exportpdf.php')}}");
		 		$("#form").submit();
            });

            $("#excelbutton").click(function(event) {
            	$("#content").val("<table>" + $("#persona").html() + "</table>");
		$("#form").attr("action", "{{asset('extensiones/exportexcel.php')}}");
		$("#form").submit();
            });
        
            $('#persona tbody').click(function(event){
                $(oTable.fnSettings().aoData).each(function(){
                    $(this.nTr).removeClass('row_selected');
                });
                
                $(event.target.parentNode).addClass('row_selected');
                
                trselected = $(event.target.parentNode);
                
                var tds = $(trselected).find('td');
                
                values = [];
  
                $.each(tds, function(index, item) {
                    values.push(item.innerHTML); 
                }); 
                $('#select').css({'display':'block'});
                $('#nuevo').val(values[0]);
                
            });
         
                
              $(".rango").change(function(){
                
                var net = $('#red_lista option:selected').val();
                var date1 =  $("#desde").val().split('/');
                var date2 =  $("#hasta").val().split('/');
                var desde = date1[2] + '-' + date1[1] + '-' + date1[0];
                var hasta = date2[2] + '-' + date2[1] + '-' + date2[0];
               
                var url = "{{path('servicio_nuevo_convertido_all_ganador_red_tiempo',{'red':'net','inicio':'ini','fin':':fin'})}}";
                url = url.replace('ini',desde);
                url = url.replace(':fin',hasta);
                url = url.replace('net',net);

                if(net!='-1' && net!='0')
                {
                    get_tabla(url);
                }
                else if(net=='0')
                    {
                        var url1 = "{{path('servicio_nuevo_convertido_all_ganador_tiempo',{'inicio':'ini','fin':':fin'})}}";
                        url1 = url1.replace('ini',desde);
                        url1 = url1.replace(':fin',hasta);
                        
                        get_tabla(url1);
                    }
               

            });            
            
	 });
         
         function get_tabla(url)
         {
             //'{{path('servicio_nuevo_convertido_all_ganador')}}',
              /* Build the DataTable with third column using our custom sort functions */
            oTable = $('#persona').dataTable( {
                                    
                "bProcessing": true,
                "bServerSide": false,
                "bDestroy": true,
                "sAjaxSource": url, 
                "aoColumns": [
                    { "mDataProp": "id" },
                    { "mDataProp": "nombre" },
                    { "mDataProp": "apellidos" },
                    { "mDataProp": "edad" },
                    { "mDataProp": "red" },
                    { "mDataProp": "conversion"},
                    { "mDataProp": "ganador"},
                    { "mDataProp": "gnom"}
                ],
		"aaSorting": [ [5,'desc']],//por consultar el tipo de orden
		"aoColumnDefs": [
                    { "sType": 'string-case', "aTargets": [ 2 ] }
		],"sDom": 'T<"clear">lfrtip',
                "oTableTools": {
			"sRowSelect": "single",
                        "fnRowSelected": function ( node ) {
                            var s=$(node).children();
                            alert("Selected Row : " + s[0]);
                        }
		},
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {
						"sLengthMenu": "_MENU_ registros por página"
					}
            } );	
         }
      
       </script>
{%endblock %} 
