{% extends "::base.html.twig" %}

{% block stylesheets %}
	<!--link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{asset('js/jquery-addresspicker/demos/themes/base/jquery.ui.all.css')}}">
    <link rel="stylesheet" href="{{asset('js/jquery-addresspicker/demos/demo.css')}}"-->
    
    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{asset('css/bootstrap-responsive.css')}}">
	<link rel="stylesheet" href="{{asset('css/jquery.fancybox.css')}}">
	<link rel="stylesheet" href="{{asset('css/uniform.default.css')}}">
	<link rel="stylesheet" href="{{asset('css/bootstrap.datepicker.css')}}">
	<link rel="stylesheet" href="{{asset('css/jquery.cleditor.css')}}">
	<link rel="stylesheet" href="{{asset('css/jquery.plupload.queue.css')}}">
	<link rel="stylesheet" href="{{asset('css/jquery.tagsinput.css')}}">
	<link rel="stylesheet" href="{{asset('css/jquery.ui.plupload.css')}}">
	<link rel="stylesheet" href="{{asset('css/chosen.css')}}">
	<link rel="stylesheet" href="{{asset('css/jquery.jgrowl.css')}}">
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}
         
{%block javascript %}

  	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
	<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
	<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
	<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
	<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
	<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
	<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
	<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
	<script src="{{asset('js/ui.spinner.js')}}"></script>
	<script src="{{asset('js/jquery.jgrowl_minimized.js')}}"></script>
	<script src="{{asset('js/jquery.form.js')}}"></script>
	<script src="{{asset('js/jquery.validate.min.js')}}"></script>
	<script src="{{asset('js/bbq.js')}}"></script>
	<script src="{{asset('js/jquery-ui-1.8.22.custom.min.js')}}"></script>
	<script src="{{asset('js/jquery.form.wizard-min.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>
	
	<script>
		$(document).on('ready', FechaActual)
		function FechaActual(){
			var f= new Date();
			var mes = "";
			var day = "";
			if(f.getMonth()<"10")
				mes = f.getMonth() + 1;
				mes = "0" + mes;
			if(f.getDate()<"10")
				day = "0" + f.getDate();
				
			$("#lol1").val(mes + "/" + day + "/" + f.getFullYear());
		}
	</script>
           
{%endblock%}
            
            
{% block content %}
<div class="span9" id="registro_form">
	<label for="datepicker" class="control-label">Datepicker</label>
	<input type="text" name="lol1" id="lol1" class='datepick'>
	<label for="timepicker" class="control-label">Timepicker</label>
	<input type="text" name="lol2" id="lol2" class='timepicker'>
</div>
{% endblock %}