<!DOCTYPE html>
<html lang="es-ES">
<head>
	<meta charset="utf-8">
        {% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/perfil/style.css')}}">
        
        {% endblock %}
        
         {%block javascripts %}    
   
    <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>            
                 
     {%endblock%}
	<title>Perfil</title>
</head>
<body>
	<section>
		<form id="form" class="form-perfil" method="post">
			<input id='content' type='hidden' name='content' >
            <input id='title' type='hidden' name='title' >
			<div id="todo">
				<div class="grupo">
					<div class="fila">
						<h2>Datos Personales {{id}}</h2>
					</div>
					<div class="fila">
						<p><strong>Nombre: </strong>{{nombre}}</p>
					</div>
					<div class="fila">
						<p><strong>Apellidos: </strong>{{apellidos}}</p>
					</div>
					<div class="en-linea">
						<div class="fila">
							<p id="estado"></p>
						<div class="fila">
							<p id="sexo"></p>
						</div>
						<div class="fila">
							<p><strong>Edad: </strong>{{edad}}</p>
						</div>
					</div>
					<div class="en-linea">
                        <div class="fila">
                        	<p><strong>Nacimiento: </strong>{{fecha_nacimiento}}</p>
						</div>
						<div class="fila">
							<p><strong>Teléfono: </strong>{{telefono}}</p>
						</div>
						<div class="fila">
							<p><strong>Celular: </strong>{{celular}}</p>
						</div>
					</div>
					<div class="fila">
						<p><strong>Dirección: </strong>{{direccion}}</p>
					</div>
					<div class="fila">
						<p><strong>Referencia: </strong>{{referencia}}</p>
					</div>
					<div class="en-linea">
                        <div class="fila">
                        	<p><strong>Departamento: </strong>{{departamento}}</p>
						</div>
						<div class="fila">
							<p><strong>Provincia: </strong>{{provincia}}</p>
						</div>
						<div class="fila">
							<p><strong>Distrito: </strong>{{distrito}}</p>
						</div>
					</div>
					<div class="en-linea-2">
						<div class="fila">
							<p><strong>Email: </strong>{{email}}</p>
						</div>
						<div class="fila">
							<p><strong>Web: </strong>{{website}}</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="grupo">
					<div class="fila"><h2>Datos de la Iglesia</h2></div>
					<div class="en-linea-2">
						<div class="fila">
							<p><strong>Red: </strong>{{red}}</p>
						</div>
                        <div class="fila">
                        	<p><strong>Célula: </strong>{{celula}}</p>
						</div>
						<div class="fila">
							<p><strong>Consolidador: </strong>{{cons}}</p>
						</div>
						<div class="fila">
							<p><strong>Líder: </strong>{{lider}}</p>
						</div>
						<div class="fila">
							<p><strong>Conversión: </strong>{{conversion}}</p>
						</div>
						<div class="fila">
							<p id="lugar"></p>
						</div>
					</div>
				</div>
			</div>
			<h2>Mapa</h2>
			<div class="map">
            	<div id="ubicacionexacta" name="ubicacionexacta">
				</div>
			</div>
		</div>
			<div class="botones">
				<input class="submit" type="button" id="pdfbutton" name="imprimir" value="Imprimir" />
				<input class="submit" type="button" id="salir" name="salir" value="Salir" />
			</div>
		</form>
	</section>
</body>
{%block javascript %}
           
<script src="{{asset('js/jquery.js')}}"></script>
<script type="text/javascript">
                
            var latitud = 0;
            var longitud = 0;
            
            $(document).ready(function(){

            	$("#pdfbutton").click(function(event) {
                	$("#content").val($("#todo").html());
                	$("#title").val("{{nombre}}" + " " + "{{apellidos}}");
                    $("#form").attr("action", "{{asset('extensiones/exportpdf-perfil.php')}}");
    		 		$("#form").submit();
                });
                
            //recuperar los datos
                        var codigo = {{id}};
                        init();
         
                        //nuevo convertido
                        url = '{{path( 'servicio_nuevo_convertido_id', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(convertido);
                            
                         //red social
                         /*
                        url = '{{path( 'servicio_red_social', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(sociales);
                        */
                
            });
            
            function init()
            {
                 if({{estado_civil}} ==0)
                 {  
                         $("#estado").html('<strong>Estado: </strong>Solter@'); //$("#estado").text('Solter@');
                 }                     
                 else {
                         $('#estado').html('<strong>Estado: </strong>Casad@');  //$('#estado').text('Casad@');
                 }
                 
                  //sexo
                  if({{sexo}}==1)
                     {
                         $('#sexo').html('<strong>Sexo: </strong>Masculino'); //$('#sexo').text('Masculino');
                     }   
                    else
                     {
                         $('#sexo').html('<strong>Sexo: </strong>Femenino'); //$('#sexo').text('Femenino');
                     }   
                     
                  mapa({{latitud}}, {{longitud}});
            }

            function convertido(dato)
             {
                 if(dato!=false)
                 {
                   
                      
                    var url = '{{path('servicio_lugar_id',{'id':'cod'}) }}';
                    var ruta = url.replace('cod',dato.id_lugar);
                    
                       
                    $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "GET",
                                async: false,
                            }
                        ).done(lugar);
                                             
                 }
             }
             function lugar(dato)
             {
                $('#lugar').html('<strong>Lugar: </strong>' + dato[0].nombre);
             }
             
             function mapa(latitud, longitud)
             {
                  var ruta ="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C"+latitud+','+longitud+"&sensor=false&key=AIzaSyCSLn3MOXmjCshXPj48FhUFg94X9ZgQZgA";
                         
                 var imagen = '<img src="'+ruta+'">'
                 
                 $(imagen).appendTo('#ubicacionexacta');
             }
            </script>
            
{% endblock %}
</html>