<!DOCTYPE html>
<html lang="es-ES">
<head>
	<meta charset="utf-8">
        {% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/perfil/style.css')}}">
        
        {% endblock %}
        
         {%block javascripts %}    
   
    <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>            
                 
     {%endblock%}
	<title>Perfil</title>
</head>
<body>
	<section>
		<form class="form-perfil" action="#" method="post">
			<article>
				<ul>
					<li>
						<h2>Datos Personales {{id}}</h2>
					</li>
					<li>
						<label for="nombre">Nombre</label>
                                                <input type="text" name="nombre" id="nombre" value="{{nombre}}"/>
					</li>
					<li>
						<label for="apellidos">Apellidos</label>
                        <input type="text" name="apellidos"  id="apellidos" value='{{apellidos}}'/>
					</li>
					<div class="en-linea">
						<li>
							<label for="estado">Estado</label>
                            <input type="text" name="estado"  id="estado"/>
						</li>
						<li>
							<label for="sexo">Sexo</label>
                            <input type="text" name="sexo" id="sexo"/>
						</li>
						<li>
							<label for="edad">Edad</label>
                            <input type="text" name="edad" id="edad" value='{{edad}}'/>
						</li>
					</div>
					<div class="en-linea">
                                                <li>
							<label for="nacimiento">Nacimiento</label>
                            <input type="text" name="nacimiento" id="nacimiento" id="nacimiento" value='{{fecha_nacimiento}}' />
						</li>
						<li>
							<label for="telefono">Telefono</label>
                            <input type="text" name="telefono" id="telefono" id="telefono" value='{{telefono}}' />
						</li>
						<li>
							<label for="celular">Celular</label>
                            <input type="text" name="celular" id="celular" id="celular" value='{{celular}}' />
						</li>
						
					</div>
					<li>
						<label for="direccion">Dirección</label>
                        <input type="text" name="direccion" id="direccion" value='{{direccion}}' />
					</li>
					<li>
						<label for="referencia">Referencia </label>
                        <input type="text" name="referencia" id="referencia" value='{{referencia}}'>
					</li>
					<div class="en-linea">
                                                <li>
							<label for="departamento">Departamento</label>
                                                        <input type="text" name="departamento" id="departamento" value="{{departamento}}"/>
						</li>
						<li>
							<label for="provincia">Provincia</label>
                            <input type="text" name="provincia"  id="provincia" value='{{provincia}}'/>
						</li>
						
						<li>
							<label for="distrito">Distrito</label>
                            <input type="text" name="distrito" id="distrito" value='{{distrito}}' />
						</li>
					</div>
					<div class="en-linea-2">
						<li>
							<label for="email">Email</label>
                            <input type="email" name="email" id="email"value='{{email}}' />
						</li>
						<li>
							<label for="web">Web</label>
                                                        <input type="text" name="web"  value="{{website}}"/>
						</li>
					</div>
				</ul>
			</article>
			<article>
				<ul>
					<li><h2>Datos de la Iglesia</h2></li>
					<div class="en-linea-2">
						
						<li>
							<label for="red">Red</label>
                                                        <input type="text" name="red"  id="red" value='{{red}}'/>
						</li>
                                                <li>
							<label for="celula">Celula</label>
                                                        <input type="text" name="celula" id="celula" value="{{celula}}"/>
						</li>
						
						<li>
							<label for="consolidador">Consolidador</label>
                                                        <input type="text" name="consolidador" id="consolidador" value='{{cons}}'/>
						</li>
						<li>
							<label for="lider">Lider</label>
                                                        <input type="text" name="lider" id="lider" value="{{lider}}" />
						</li>
						
						<li>
							<label for="fecha1">Conversión</label>
                                                        <input type="text" name="fecha1" id="fecha1" value="{{conversion}}"/>
						</li>
						<li>
							<label for="lugar">Lugar</label>
                                                        <input type="text" name="lugar" id="lugar" />
						</li>
					</div>
				</ul>
			</article>
			<h2>Mapa</h2>
			<article class="map">
                             <div id="ubicacionexacta" name="ubicacionexacta">

                            </div>
			</article>
			<div class="botones">
				<input class="submit" type="submit" name="imprimir" value="Imprimir" />
				<input class="submit" type="submit" name="salir" value="Salir" />
			</div>
		</form>
	</section>
</body>
{%block javascript %}
           
            
            <script type="text/javascript">
                
            var latitud = 0;
            var longitud = 0;
            
            $(document).ready(function(){
                
            //recuperar los datos
                        var codigo = {{id}};
                        init();
         
                        //nuevo convertido
                        url = '{{path( 'servicio_nuevo_convertido_id', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(convertido);
                            
                         //red social
                         /*
                        url = '{{path( 'servicio_red_social', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(sociales);
                        */
                
            });
            
            function init()
            {
                 if({{estado_civil}} ==0)
                 {  
                         $("#estado").val('Solter@');  $("#estado").text('Solter@');
                 }                     
                 else {
                         $('#estado').val('Casad@');  $('#estado').text('Casad@');
                 }
                 
                  //sexo
                  if({{sexo}}==1)
                     {
                         $('#sexo').val('Masculino'); $('#sexo').text('Masculino');
                     }   
                    else
                     {
                         $('#sexo').val('Femenino'); $('#sexo').text('Femenino');
                     }   
                     
                  mapa({{latitud}}, {{longitud}});
            }

            function convertido(dato)
             {
                 if(dato!=false)
                 {
                   
                      
                    var url = '{{path('servicio_lugar_id',{'id':'cod'}) }}';
                    var ruta = url.replace('cod',dato.id_lugar);
                    
                       
                    $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "GET",
                                async: false,
                            }
                        ).done(lugar);
                                             
                 }
             }
             function lugar(dato)
             {
                $('#lugar').val(dato[0].nombre);
             }
             
             function mapa(latitud, longitud)
             {
                  var ruta ="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C"+latitud+','+longitud+"&sensor=false&key=AIzaSyCSLn3MOXmjCshXPj48FhUFg94X9ZgQZgA";
                         
                 var imagen = '<img src="'+ruta+'">'
                 
                 $(imagen).appendTo('#ubicacionexacta');
             }
            </script>
            
{% endblock %}
</html>