{% extends "::base.html.twig" %}

{% block titulo %}Lista de Redes - {% endblock %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/DT_bootstrap.css')}}" rel="stylesheet" type="text/css">
{% endblock %}                 

{% block content %} 
<div class="span9" >
	<h1>Lista de Redes</h1>
	<div class="box">
		<div class="box-head tabs">
            <h3>Redes</h3>							
        </div>

        <div class="box-content box-nomargin">
        	<form id='form' method='POST'>
                
                    <input id='content' type='hidden' name='content' >
                    <input id='title' type='hidden' name='title' >
                    <input id='pdfbutton' type='button' value='PDF' class="btn btn-info">
                    <input id='excelbutton' type='button' value='Excel' class="btn btn-info">
            
            	<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped dataTable table-bordered"  id="persona" name="persona">
            		<thead id='lol'>
                		<tr>
		                    <th width="8%">Red</th>
		                    <th width="8%">Tipo</th>
		                    <th>Lider</th>
		                    <th>Direcci칩n</th>
		                </tr>
			</thead>

    			</table>
                    <p class="dataTables_info"><strong>Tipo:</strong> 0=Mixta, 1=Hombres, 2=Mujeres, 3=Hombres J칩venes, 4=Mujeres J칩venes</p>
                    

   			</form>
    	</div>
	</div>
    <div id="alineados">
    	<button class="btn btn-primary" id="vista" name="vista">Modificar</button>
        <button class="btn btn-danger" id="eliminar" name="eliminar">Eliminar</button>
    </div>
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
            <script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
                        <script src="{{asset('js/datatable_plugins.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
                        <script src="{{asset('js/tablasfeatures.js')}}"></script>
			
			<script src="http://www.google.com/jsapi"></script>
                        <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
                        <script src="{{asset('js/DT_bootstrap.js')}}"> </script>
                        
    <script type="text/javascript">
          
         var trselected; 
	 var oTable;
         
        var values = [];
        function loge(data){
            //the response is in the data variable
            console.log(data);
               
            if(data.responseCode==200 ){                                 
                        alert('Registro Completado');            
            }
            else if(data.responseCode==400){//bad request
                       alert('Error bad request');
            }
            else{                        
                 if(data.responseCode==500)
                 {
                       alert('Error bad request');
                 }
                 else alert("An unexpeded error occured.");
            }
        }
         var sayhola = function(data){
			console.log(data);
			oTable.fnReloadAjax();
	}
         
        $(document).ready(function() {
            
            $("#vista").css({"display":"none"});
            $("#eliminar").css({"display":"none"});
        
            $("#pdfbutton").click(function(event) {
                $("#persona th").css("width","auto");
            	$("#content").val($("#persona").html());
            	$("#title").val($("h3").html());
            	//$("#content").val($("#lol").html() + $("tbody").html());
                $("#form").attr("action", "{{asset('extensiones/exportpdf.php')}}");
		 		$("#form").submit();
            });

            $("#excelbutton").click(function(event) {
            	$("#content").val("<table>" + $("#persona").html() + "</table>");
		$("#form").attr("action", "{{asset('extensiones/exportexcel.php')}}");
		$("#form").submit();
            });
        
            $('#persona tbody').click(function(event){
                $(oTable.fnSettings().aoData).each(function(){
                    $(this.nTr).removeClass('row_selected');
                });
                
                $(event.target.parentNode).addClass('row_selected');
                
                trselected = $(event.target.parentNode);
                
                var tds = $(trselected).find('td');
                
                values = [];
  
                $.each(tds, function(index, item) {
                    values.push(item.innerHTML); 
                });    
                $("#vista").css({"display":"inline"});
                $("#eliminar").css({"display":"inline"});
            });
            
            //click handler para modificar
            
            $('#vista').click(function(){
                var anSelected = fnGetSelected(oTable);
                //oTable.fnDeleteRow(anSelected[0]);
                if(anSelected.length !=0)
                {
                    var tds = $(anSelected).find('td');
                    var val = [];
                    $.each(tds, function(index, item) {
                    val.push(item.innerHTML); 
  
                      }); 
                       
                     //get the url for the form
                    var url='{{path('administrar_lista_redes_modificar_vista',{'id':':nom'})}}';
                    var rutas = url.replace(':nom',val[0]);

                    location.replace(rutas);
                    
                }
            });
            
            //click handler para eliminar
            
             $('#eliminar').click(function(){
                var anSelected = fnGetSelected(oTable);
                //oTable.fnDeleteRow(anSelected[0]);
                if(anSelected.length !=0)
                {
                    var tds = $(anSelected).find('td');
                    var val = [];
                    $.each(tds, function(index, item) {
                    val.push(item.innerHTML); 
  
                      }); 
                    
                    var url = '{{path('administrar_lista_redes_eliminar')}}';
                    
                    $.post(url,{
                        formName:val[0],
                        other:"attributes"
                    },sayhola);
                }
            });
   
            /* Build the DataTable with third column using our custom sort functions */
            
            oTable = $('#persona').dataTable( {
                                    
                "bProcessing": true,
                "bServerSide": false,
                "bDestroy": true,
                "sAjaxSource": '{{path('servicio_administrar_lista_redes_ubicacion')}}',
                "aoColumns": [
                    { "mDataProp": "id" },
                    { "mDataProp": "tipo"},
                    { "mDataProp": "nombres" },
                    { "mDataProp": "direccion" }
                ],
		"aaSorting": [ [0,'asc'], [1,'asc'] ],
		"aoColumnDefs": [
                    { "sType": 'string-case', "aTargets": [ 2 ] }
		],"sDom": 'T<"clear">lfrtip',
                "oTableTools": {
			"sRowSelect": "single",
                        "fnRowSelected": function ( node ) {
                            var s=$(node).children();
                            alert("Selected Row : " + s[0]);
                        }
		},
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {
						"sLengthMenu": "_MENU_ registros por p치gina"
					}
            } );	

	 });
                
       </script>
{%endblock %} 
