{% extends "::base.html.twig" %}

{% block titulo %}Registrar Red - {% endblock %}
        
        {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('js/jquery-addresspicker/demos/themes/base/jquery.ui.all.css')}}">
        {% endblock %}
        
{% block content %}
        <div class="span9" id="registro_form">
        <h1>Registrar Red</h1>
        <br>
            <form class="form-horizontal" action="{{path('administrar_addred')}}"  method="POST" id="myForm" name="myForm">
                <legend>Datos de Red</legend>
                <fieldset> 
                    <div class="control-group">
                        <label class="control-label" >Abreviatura</label>
                        <div class="controls">
                            <input type="text" id="inputNom" name="inputNom" placeholder="Nombre" class="input-xxlarge" pattern="|^[a-zA-Z0-9 ]*$|" required />
                        </div>
                    </div>
                
                    <div class="control-group">
                        <label class="control-label" >Tipo de Red  </label>
                        <div class="controls">
                            <select id="tipo_red" name="tipo_red" required >
                                <option value="0">Mixta</option>
                                <option value="1">Hombres</option>
                                <option value="2">Mujeres</option>
                                <option value="3">Hombres Jovenes</option>
                                <option value="4">Mujeres Jovenes</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="control-group">
                        <label class="control-label" for="iglesia">Iglesia</label>
                        <div class="controls">
                            <select id="iglesia_lista" name="iglesia_lista" required >
                   
                            </select>
                        </div>
                    </div>
            </fieldset>
        
            <fieldset>
                <legend>Ubicación</legend>
        
                <div class="control-group">
                    <label class="control-label">Dirección</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="inputDireccion" name="inputDireccion" pattern="|^([a-zA-ZñÑáéíóúüç0-9.]+\s*)+$" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Referencia</label>
                    <div class="controls" >
                        <input type="text" class="input-xxlarge" id="inputReferencia" name="inputReferencia">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" > Departamento</label>
                    <div class="controls">
                        <select name="departamento_lista" id="departamento_lista" required>
                    
                        </select>
                    </div>
                </div>
        
                <div class="control-group">
                    <label class="control-label" >Provincia</label>
                    <div class="controls">
                        <select name="provincia_lista" id="provincia_lista" required>
                   
                        </select>
                    </div>
                </div>
        
                <div class="control-group">
                    <label class="control-label">Distrito</label>
                    <div class="controls">
                        <select name="distrito_lista" id="distrito_lista" required>
                    
                        </select>
                    </div>        
                </div>
        
                <div class="control-group">
		         	<label class="control-label">Ubicación</label>
		            <div id="map-ll" style="display: none;">
				    	<label style="display:none;">Dirección: </label> <input id="addresspicker_map" name="addresspicker_map" disabled="disabled" style="display: none;"/>
						<label>Latitud:</label> <input id="lat" name="latitud"  value="-8.097944">
						<label>Longitud:</label> <input id="lng" name="longitud" value="-79.03704479999999">
					</div>
				    <div class="controls">
				    	<div id="map" class="input-xxlarge"></div>
				    </div>
		        </div>
                
                

            </fieldset>
                 
             <fieldset > 
                <legend>Lider</legend>
                <div class="control-group">
                <label class="control-label">Añadir</label>
                    <div class="controls">
                         <select id="tip_red" name="tip_red" required>
                                <option value="0">Lider de red</option>
                            </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">ID</label>
                    <div class="controls">
                        <select id="ids" name="ids" required >
                        
                        </select>
                    </div>
                </div>
                <!--
                <div class="control-group" >
                    <label class="control-label"> Nombres </label>
                    <div class="controls">
                        <input pattern="|^[a-zA-Z]*$|" type="text" id="inputNombres" name="inputNombres" placeholder="Nombres" class="input-xxlarge" required>
                    </div>
                </div>
        
                <div class="control-group" >
                    <label class="control-label">Apellidos</label>
                    <div class="controls">
                        <input type="text" id="inputApellidos" name="inputApellidos" placeholder="Apellidos" class="input-xxlarge" pattern="|^[a-zA-Z ñÑáéíóúüç]*$|" required>
                    </div>
                </div>
                -->
                
            </fieldset>
               
            <fieldset>
                <legend>Asociado al Pastor Ejecutivo </legend>
            <div class="control-group">
                <label class="control-label">Pastor Ejecutivo</label>
                    <div class="controls">
                         <select id="pastor" name="pastor" required>
                         </select>
                    </div>
                </div>    
            </fieldset>
                <div class="control-group">
                    <label></label>
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" name="login" id="login"  value="Registrar"/>
                    </div>
                </div>
            
            </form>
            <div id="output"></div>
        
            </div>
{% endblock %}
     
   {%block javascript %}
   <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>         
            <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>            
            <script src="https://maps.google.com/maps/api/js?sensor=true"></script>            
            <script type="text/javascript" src="{{asset('js/jquery-addresspicker/lib/jquery-ui-1.8.7.min.js')}}" > </script>
            <script type="text/javascript" src="{{asset('js/jquery-addresspicker/src/jquery.ui.addresspicker.js')}}"> </script>
            <script type="text/javascript" src="{{asset('js/custom.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/ganar.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/mapa.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/functiongen.js')}}"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->     
            
             <script type="text/javascript">
                
    
                function pastores(data)    
                {
                
                $('#pastor').empty();

                $("<option value='-1'>Sin pastor</option>").appendTo('#pastor');
                
                console.log(data);
          
                for(var i=0;i<data.length;i++)
                    {
                      $('<option value='+data[i].id+'>'+data[i].nombres+'</option>').appendTo('#pastor');

                    }
                }
    
       $(document).ready(function(){
           
              
            $.ajax(
            {
            url: '{{path('servicio_lista_pastores_ejecutivos')}}',
            async: false,
            dataType:"json",
            type: "POST",
            }).done(pastores); 
    
    
                $.getJSON('{{path('servicio_iglesia')}}',iglesias);
                
                   //lista de departamentos
                  initDepartamentos('{{path('servicio_region')}}'); 
                                
    
                //lideres
                var route = '{{path('servicio_lista_lideres')}}';            
                       
                        $.ajax(
                            {   url : route,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(lideres);
                            
                 //persona
                 $('#ids').change(persona);
                 
    
                 $("#tip_red").change(recarga_id);
                 
    
                 var x =$("login");
                    x.click();
           
                    $("#myForm").submit(function(){
                    //get the url for the form
                    var url=$("#myForm").attr("action");
                    
                    console.log(url);
                    console.log($("#myForm").serialize());
   
                    //start send the post request
                    $.post(url,{
                        formName:$("#myForm").serialize(),
                        other:"attributes"
                    },function(data){
                    //the response is in the data variable
                    console.log(data);
                    if(data.responseCode==200 ){           
                       // $('#output').html(data.greeting);
                        //$('#output').css("color","red");
                        alert('Registro Completado');
                       // var href="{{path('main')}}";
                   
                       //$(location).attr('href',href); 
                       location.reload();
          
                    }
                    else if(data.responseCode==400){//bad request
                       // $('#output').html(data.greeting);
                       // $('#output').css("color","red");
                       alert('Error');
                        }
                    else{
                        
                        if(data.responseCode==500)
                        {
                            alert('Solo se puede registrar una iglesia');
                        }

                        else alert("An unexpeded error occured.");
                        }
                    }
       
                    );


                    return false;});

                    mapeo_position('lat','lng','addresspicker_map','map');     

                });
                
                function recarga_id()
                {
                    var id = $("#tip_red option:selected").val();
          
                    
                    if(id=='0')
                    {
                        var route = '{{path('servicio_lista_lideres')}}';            
                       
                        $.ajax(
                            {   url : route,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(lideres);
                    }
                    else
                    {
               
                        var route = '{{path('servicio_lista_pastor_asoc')}}';            
                       
                        $.ajax(
                            {   url : route,
                            dataType:"json",
                            type: "POST",
                            async: false,
                            }
                        ).done(pastor_asoc);
                    }
                   
                }
  
                function lideres(dat)
                {
                   
                    $('#ids').empty();
                    
                    $('<option value= '+'-1>'+'-'+'</option>').appendTo('#ids');

                    for(var i=0;i<dat.length;i++)
                    {
                      $('<option value='+dat[i].id+'>'+dat[i].nombre+' '+dat[i].apellidos+'</option>').appendTo('#ids');

                    }
                    // persona();
                }
                
                function persona()
                {
                    var id = $("#ids option:selected").val();
                    if(id!=null && id!='-1')
                    {
                                  
                        var route = '{{path('servicio_persona_id',{'id': 'nom'})}}';            
                        var rutas = route.replace('nom',id);         
                        $.ajax(
                            {   url : rutas,
                                dataType:"json",
                                type: "GET",
                                async: false,
                            }
                        ).done(personal);
                    }

                }
                //funcion que recarga los datos personales
                function personal(dato)
                {
                    $('#inputNombres').text(dato.nombre);
                    $('#inputNombres').val(dato.nombre);
                    
        
                    $('#inputApellidos').text(dato.apellidos);
                    $('#inputApellidos').val(dato.apellidos);
                    
        
                }

                function pastor_asoc(dat)
                {
                    
                    $('#ids').empty();
                    
                    $('<option value= '+'-1>'+'-'+'</option>').appendTo('#ids');

                    for(var i=0;i<dat.length;i++)
                    {
                      $('<option value='+dat[i].id+'>'+dat[i].nombre+' '+dat[i].apellidos+'</option>').appendTo('#ids');

                    }
                     persona();
                }
                
                 function iglesias(datos)
                {
                        $('<option value='+datos.id+'>'+datos.nombre+'</option>').appendTo('#iglesia_lista');
                }
     
                function recarga_provincias()
                {
                 var id = $("#departamento_lista option:selected").val();              
                 var route = '{{path('servicio_provincia',{'id': 'nom'})}}';            
                 var rutas = route.replace('nom',id);         
                 $.ajax(
                        {   url : rutas,
                            dataType:"json",
                            type: "POST",
                            async: false,
                        }
                    ).done(provincias);
                }
            
                               
                function recarga_distritos()
                {
                    var dep=$("#departamento_lista option:selected").val();
                    var prov = $("#provincia_lista option:selected").val();
   
                    var route = '{{path('servicio_distrito',{'dep':'id1','prov':'id2'})}}';
                    
                    var rutas = route.replace('id1', dep);                    
                    rutas = rutas.replace('id2', prov);
                    
                     $.ajax(
                        {   url : rutas,
                            dataType:"json",
                            type: "POST",
                            async: false,
                        }
                    ).done(distrito);
                }
                          
            </script>
            
    {%endblock%}