{% extends "::base.html.twig" %}

{% block titulo %}Cambiar datos de usuario - {% endblock %}

  {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
 {% endblock %}
         
  {%block javascript %}
  	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.js')}}"></script>
	<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
	<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
	<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
	<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
	<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
	<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
	<script src="{{asset('js/ui.spinner.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>			
	<script src="{{asset('js/functiongen.js')}}"></script>
            
    <script type="text/javascript">
            $(document).ready(function() {
            	enviar("RegLocalForm",sayhola);
                
                $("#guardar").css({'display':'none'});
                
                $(".cambio").change(function(){
                    
                    var v1 = $('#pass').val();
                    var v2 = $('#npass').val();
                    
                    var url = "{{path('administrar_check_user',{'user':'usr'})}}";
                    url = url.replace('usr',$('#user').val());
                    
                    var num = new Array();
                    
                     $.ajax(
                        {url : url,
                         dataType:"json",
                        type: "POST",
                        async: false,
                        }
                        ).done(function(data){
                            num=data;    
                        });
                    
                    if(num.length>0)
                    {
                          $('#disponible').text("No disponible");
                    }
                    else
                    {
                        $('#disponible').text("Disponible");
                    }
                    
                    if(v1!==v2 || num.length>0 || v1.length===0 || v2.length===0)
                        $("#guardar").css({'display':'none'});
                    else
                        $("#guardar").css({'display':'block'});
               });
            	
            });
            var sayhola = function(data){
                
                 if(data.responseCode==200)
                  {
                    alert('Registro Completo');
                    window.location.replace("{{path('salir')}}");

                  }
            };
    </script>             
{%endblock%}
            
            
{% block content %}
<div class="span9" id="registro_form">
    <h1>Cambiar datos de usuario</h1>
    <fieldset>
		<form class="form-horizontal" id="RegLocalForm" method="POST" action="{{path('administrar_cambiar_usuario_up')}}">
			<legend>Cambiar datos de usuario</legend>
			<div class="control-group">
				<label class="control-label">Usuario:</label>
				<div class="controls">
					<input type="text" name="user" id="user" value="{{usuario}}" class="cambio" required >
                                        <p class="help-block" id="disponible" name="disponible" >Disponible</p>

				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Contraseña:</label>
				<div class="controls">
                                    <input type="password" name="pass" id="pass" class="cambio" required>
				</div>
			</div>
			
                        <div class="control-group">
				<label class="control-label">Denuevo Contraseña:</label>
				<div class="controls">
					<input type="password" name="npass" id="npass" class="cambio" required>
				</div>
			</div>
			<div class="control-group" id="guardar" name="guardar">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Registrar">
				</div>
			</div>	
		</form>
	</fieldset>
	
{% endblock %}  