{% extends "::base.html.twig" %}
        {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
                 
{% endblock %}
        
{%block content%}

      <div class="span9" id="registro_form">
             
          <form id="myForm" name="myForm" class="form-horizontal"  method="POST" action="{{path('administrar_reg_permisos')}}" >
         
              <fieldset>  
                  <legend>Permisos</legend>
                  
                  <div class="control-group">
                    <label class="control-label" >ID</label>
                    <div class="controls">
                      <input class="input-large" type="text" name="code" id="code" pattern="|^\d+$|" required />
                    </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label"></label>
                      <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="celula" id="celula" value="celula"> Lider de Célula
                        </label>
                      </div>
                   </div>
                  
                  <div class="control-group">
                      <label class="control-label"></label>
                      <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="lider_red" id="lider_red" value="lider_red"> Lider de Red
                        </label>
                       </div>
                  </div>
                  
                  <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="pastor_asoc" id="pastor_asoc" value="pastor_asoc"> Pastor Asociado
                        </label>
                    </div>
                  </div>
              
                  <div class="control-group">
                      <label class="control-label"></label>

                      <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="misionero" id="misionero" value="misionero"> Misionero
                            </label>
                      </div>
                  </div>
                  
                  
                  <div class="control-group">
                  
                      <label class="control-label"></label>
                      <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="pastor_eje" id="pastor_eje" value="pastor_eje"> Pastor Ejecutivo
                        </label>
                      </div>
                  </div>
                  
                  <div class="control-group">
                       <label class="control-label"></label>

                      <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="estudiante" id="estudiante" value="estudiante">Estudiante                          
                        </label>
                      </div>
                  </div>
                  
                  <div class="control-group">
                      <label class="control-label"></label>
                      <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="consolidador" id="consolidador" value="consolidador">Consolidador
                        </label>
                       </div>
                  </div>
               
              <div class="control-group">
                  <label class="control-label"></label>
                  <div class="controls">
                      <input class="btn btn-small btn-primary" type="submit" name="login" title="Guardar" value="Guardar" />
                  </div>
              </div>
                  
              </fieldset>
              
        </form>
        

</div>
{% endblock %}
      
               
      {%block javascript %}
      <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
            <script src="{{asset('js/media/js/jquery.dataTables.js')}}"></script>

            <script type="text/javascript" src="{{asset('js/bootstrap-typeahead.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-collapse.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-button.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-tooltip.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-tab.js')}}"></script>
           

            <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/custom.js')}}"></script>                  
            <!--[if lt IE 9]> <script type="text/javascript" src="{{asset('js/html5.js')}}"></script><![endif]-->
      
      <script type="text/javascript">
		
	$(document).ready(function() {
				
           $("#myForm").submit(function(){
            //get the url for the form
            var url=$("#myForm").attr("action");
   
            //start send the post request
            console.log($("#myForm").serialize());
            console.log(url);
            
            $.post(url,{
             formName:$("#myForm").serialize(),
                other:"attributes"
             },function(data){
                    //the response is in the data variable

               if(data.responseCode==200 ){           
                      
                 alert('Registro Completado');
                 var href="{{path('main')}}";
                   
                 //$(location).attr('href',href); 
                 location.reload();
          
               }
               else if(data.responseCode==400){//bad request
                       alert('Error');
                        }
                    else{
                        if(data.responseCode==500)
                        {
                            alert('Solo se puede registrar una iglesia');
                        }
                        //if we got to this point we know that the controller
                        //did not return a json_encoded array. We can assume that           
                        //an unexpected PHP error occured
                        else 
                            if(data.responseCode==600)
                                alert('Ingrese su ID');
                            else alert("An unexpeded error occured.");
                   }
             }
             );

            return false;});              
        } );

       </script>
{%endblock %}