<html>

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title> {{ app.user.username }} </title> 
  {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
               <!-- Scripts -->
 {% endblock %}
 
               
  {%block javascripts %}    
                 
              
            <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-collapse.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-button.js')}}"></script>
             <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
                      
     {%endblock%}
            
            
              <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <a class="brand" href="#"> {{ app.user.username }} </a>
             
                <ul class="nav secondary-nav pull-right">                    
                     <li></li>
                    <li><a href="#accounts/settings/profile/">Settings</a></li>
                    <li><a href={{path('salir')}}>Salir</a></li> 
                </ul> 
 
               </ul>
               
            </div>            
        </div>
</div>

  
<body>
{%block body%}
   
                 {%block sidebar%}
                 
                      <div >
        <div class="span3">
          <div class="sidebar-nav ">
              
                            
           <div class="accordion" id="accordion2">
               <div class="accordion-group" id="ganar_accordion">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Ganar
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <ul class="nav nav-list">
                            <li ><a href="#">Registrar</a></li>
                            <li><a href="#">Buscar</a></li>
                            <li><a href="#">Filtar</a></li>
                            <li><a href="#">Asignar red</a></li>
                            <li><a href="#">Informes</a></li>
                        </ul>
                    </div>
                </div>
          </div>
                   
        <div class="accordion-group" id="consolidar_accordion">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Consolidar
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Registrar consolidador</a></li>
                        <li><a href="#">Asignar consolidador</a></li>
                        <li><a href="#">Seguimiento red</a></li>
                        <li><a href="#">Seguimiento consolidador</a></li>
                        <li><a href="#">Descartar</a></li>
                        <li><a href="#">Informes</a></li>

                    </ul>
                </div>
            </div>
       </div>
                   
                   
                   <div class="accordion-group" id="discipular_accordion">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    Discipular
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Registrar personal</a></li>
                        <li><a href="#">Registrar cursos</a></li>
                        <li><a href="#">Matricular</a></li>
                        <li><a href="#">Asignar personal</a></li>
                        <li><a href="#">Registrar calificación</a></li>
                        <li><a href="#">Registrar asistencia</a></li>
                        <li><a href="#">Registro de ofrendas</a></li>
                        <li><a href="#">Liderazgo</a></li>
                        <li><a href="#">Informes</a></li>
                        <li><a href="#">Inf Notas</a></li>
                        <li><a href="#">Inf Asistencia</a></li>
                        <li><a href="#">Inf Ofrendas</a></li>                        


                    </ul>
                </div>
            </div>
       </div>
                   
                   <div class="accordion-group" id="enviar_accordion">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    Enviar
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Nueva Célula</a></li>
                        <li><a href="#">Modificación Célula</a></li>
                        <li><a href="#">Eliminar Célula</a></li>
                        <li><a href="#">Clase Célula</a></li>
                        <li><a href="#">Registro asistencia</a></li>
                        <li><a href="#">Informes</a></li>
                    </ul>
                </div>
            </div>
       </div>
                   
                   <div class="accordion-group" id="comunicar_accordion">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                    Comunicar
                </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Pastores</a></li>
                        <li><a href="#">Encargados</a></li>
                        <li><a href="#">Lideres Red</a></li>
                        <li><a href="#">Lideres Célula</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </div>
            </div>
       </div>
                   
       <div class="accordion-group" id="admin_accordion">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                    Administrar
                </a>
            </div>
            <div id="collapseSix" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Lideres de red</a></li>
                        <li><a href="#">Consolidadores</a></li>
                        <li><a href="#">Pastores</a></li>
                        <li><a href="#">Encargados de Area</a></li>
                        <li><a href="#">Crear Red</a></li>
                    </ul>
                </div>
            </div>
       </div>
</div>
       
        </div><!--/span-->
        </div><!--/row-->
   
             {%endblock%}
                 
 
{%endblock%}

</body>
<div>
             <footer>
                 <p align="center">&copy; 2012 por CLM Developers 
                </p>
                <p align="center">
                    <a href="http://www.w3.org/html/logo/">
                    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-semantics.png" width="150" height="64" alt="HTML5 Powered with CSS3 / Styling, Device Access, and Semantics" title="HTML5 Powered with CSS3 / Styling, Device Access, and Semantics">
                    </a> 
                </p>
            </footer>
        </div>
      
</html>        