<!DOCTYPE html>
<html lang="es-ES">
<head>
	<meta charset="utf-8">
        {% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('css/perfil/style.css')}}">
        
        {% endblock %}
        
         {%block javascripts %}    
   
    <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>            
                 
     {%endblock%}
	<title>Perfil</title>
</head>
<body>
	<section>
		<form class="form-perfil" action="#" method="post">
			<article>
				<ul>
					<li>
						<h2>Datos Personales {{id}}</h2>
					</li>
					<li>
						<label for="nombre">Nombre</label>
                                                <input type="text" name="nombre" id="nombre" />
					</li>
					<li>
						<label for="apellidos">Apellidos</label>
                                                <input type="text" name="apellidos"  id="apellidos"/>
					</li>
					<div class="en-linea">
						<li>
							<label for="estado">Estado</label>
                                                        <input type="text" name="estado"  id="estado"/>
						</li>
						<li>
							<label for="sexo">Sexo</label>
                                                        <input type="text" name="sexo" id="sexo"/>
						</li>
						<li>
							<label for="edad">Edad</label>
                                                        <input type="text" name="edad" id="edad"/>
						</li>
					</div>
					<div class="en-linea">
                                                <li>
							<label for="nacimiento">Nacimiento</label>
                                                        <input type="text" name="nacimiento" id="nacimiento" id="nacimiento" />
						</li>
						<li>
							<label for="telefono">Telefono</label>
                                                        <input type="text" name="telefono" id="telefono" id="telefono" />
						</li>
						<li>
							<label for="celular">Celular</label>
                                                        <input type="text" name="celular" id="celular" id="celular" />
						</li>
						
					</div>
					<li>
						<label for="direccion">Dirección</label>
                                                <input type="text" name="direccion" id="direccion"  />
					</li>
					<li>
						<label for="referencia">Referencia </label>
                                                <input type="text" name="referencia" id="referencia" >
					</li>
					<div class="en-linea">
                                                <li>
							<label for="departamento">Departamento</label>
                                                        <input type="text" name="departamento" id="departamento" />
						</li>
						<li>
							<label for="provincia">Provincia</label>
                                                        <input type="text" name="provincia"  id="provincia"/>
						</li>
						
						<li>
							<label for="distrito">Distrito</label>
                                                        <input type="text" name="distrito" id="distrito" />
						</li>
					</div>
					<div class="en-linea-2">
						<li>
							<label for="email">Email</label>
                                                        <input type="email" name="email" id="email" />
						</li>
						<li>
							<label for="web">Web</label>
							<input type="text" name="web" />
						</li>
					</div>
				</ul>
			</article>
			<article>
				<ul>
					<li><h2>Datos de la Iglesia</h2></li>
					<div class="en-linea-2">
						
						<li>
							<label for="red">Red</label>
                                                        <input type="text" name="red"  id="red"/>
						</li>
                                                <li>
							<label for="celula">Celula</label>
                                                        <input type="text" name="celula" id="celula" />
						</li>
						
						<li>
							<label for="consolidador">Consolidador</label>
                                                        <input type="text" name="consolidador" id="consolidador" />
						</li>
						<li>
							<label for="lider">Lider</label>
                                                        <input type="text" name="lider" id="lider" />
						</li>
						
						<li>
							<label for="fecha1">Conversión</label>
                                                        <input type="text" name="fecha1" id="fecha1" />
						</li>
						<li>
							<label for="lugar">Lugar</label>
                                                        <input type="text" name="lugar" id="lugar" />
						</li>
					</div>
				</ul>
			</article>
			<h2>Mapa</h2>
			<article class="map">
                             <div id="ubicacionexacta" name="ubicacionexacta">
                                
                            </div>
			</article>
                        
                        <article>
                            <h2>Leche Espiritual</h2>
                            <div id="leche_espiritual" name="leche_espiritual">
                            
                                <div class="en-linea-2">
                                    <li>
                                        <label for="fecha_ini">Fecha Inicio</label>
                                        <input type="date" name="fecha_ini" id="fecha_ini" />
                                    </li>
                                    <li>
                                        <label for="fecha_pausa">Fecha Pausa</label>
                                        <input type="date" name="fecha_pausa" id="fecha_pausa" />
                                    </li>
                                    <li>
                                        <label for="fecha_fin">Fecha Fin</label>
                                        <input type="date" name="fecha_fin" id="fecha_fin" />
                                    </li>
                                    <li>
                                        <label for="fecha_reanuda">Fecha Reanudación</label>
                                        <input type="date" name="fecha_reanuda" id="fecha_reanuda" />
                                    </li>
                                    <li>
                                        <label for="consolidador1">Consolidador</label>
                                        <input type="text" name="consolidador1" id="consolidador1" />
                                    </li>
                                </div>
                            </div>
                            <div id="leche_temas" name="leche_temas">
                                <div class="en-linea">
                                    
                                   <table cellpadding="0" cellspacing="0" border="1" id="persona" name="persona">
                                    <thead>
                                    <tr>
                                        <th>Tema</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Fecha Limite</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tablas1" name="tablas1" >
	
                                    </tbody>
	
                                    </table>
                                    
                                </div>                            
                            </div>
                                 
                        </article>
			<div class="botones">
				<input class="submit" type="submit" name="imprimir" value="Imprimir" />
				<input class="submit" type="submit" name="salir" value="Salir" />
			</div>
		</form>
	</section>
</body>
{%block javascript %}
           
            
            <script type="text/javascript">
                
            var latitud = 0;
            var longitud = 0;
            
            function consolida_leche(data)
            {
                             
                $('#fecha_ini').val(data.fecha_inicio); $('#fecha_ini').text(data.fecha_inicio); 
                $('#fecha_pausa').val(data.fecha_pausa); $('#fecha_pausa').text(data.fecha_pausa);
                $('#fecha_fin').val(data.fecha_pausa); $('#fecha_fin').text(data.fecha_pausa); 
                $('#fecha_reanuda').val(data.fecha_reanudacion); $('#fecha_reanuda').text(data.fecha_reanudacion); 
                $('#consolidador1').val(data.nombre+' '+data.apellidos);
                $('#consolidador1').text(data.nombre+' '+data.apellidos);
                $('#consolidador').val(data.nombre+' '+data.apellidos);
                $('#consolidador').text(data.nombre+' '+data.apellidos);
                
        
                 var link= '{{path('servicio_leche_consolida',{'id':'cod'})}}';
                        
                 var ruta = link.replace('cod',data.id);
                 
                 $.ajax(
                         {url: ruta,
                          type: "POST",
                         async: false,}
                    ).done(function (data){
                            $('#persona > tbody:last').append(data);
                    } );
                 
                
               
            }
            
            $(document).ready(function(){
                
            //recuperar los datos
                        var codigo = {{id}};
                        
                        //consolida json
                        
                        url = '{{path('servicio_consolida_id',{'id':'cod'})}}';
                        
                        var pat = url.replace('cod',codigo);
                        
                        $.ajax(
                                {
                                  url: pat,
                                  dataType: "json",
                                  type: "POST",
                                  async: false,
                                }
                        ).done(consolida_leche);
                        
             //nombres
                 
                        url = '{{path( 'servicio_persona_id', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(nombres);
                 
                        //nuevo convertido
                        url = '{{path( 'servicio_nuevo_convertido_id', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(convertido);
                            
                         //red social
                         /*
                        url = '{{path( 'servicio_red_social', {'id':'cod'} )}}';
                        ruta = url.replace('cod',codigo);
                        $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(sociales);
                        */
                
            });
            
            function nombres(dato)
             {

                 if(dato!=false)
                 { 
                     $('#nombre').val(dato.nombre); $('#nombre').text(dato.nombre);
                     $('#apellidos').val(dato.apellidos); $('#apellidos').text(dato.apellidos);
                     
                     //estado civil
                     if(dato.estado_civil ==0)
                     {  
                         $("#estado").val('Solter@');  $("#estado").text('Solter@');
                     }                     
                     else {
                         $('#estado').val('Casad@');  $('#estado').text('Casad@');
                     }
                     //sexo
                     if(dato.sexo==1)
                     {
                         $('#sexo').val('Masculino'); $('#sexo').text('Masculino');
                     }   
                    else
                     {
                         $('#sexo').val('Femenino'); $('#sexo').text('Femenino');
                     }   
                    
                     //email
                     $('#email').val(dato.email); $('#email').text(dato.email);
                     
                     //edad
                     $('#edad').val(dato.edad); $('#edad').text(dato.edad);
                     
                     //Fecha nacimiento
                      $('#nacimiento').val(dato.fecha_nacimiento);  $('#nacimiento').text(dato.fecha_nacimiento);
                      
                      //telefono
                      $('#telefono').val(dato.telefono); $('#telefono').text(dato.telefono);
                      
                      //celular
                      $('#celular').val(dato.celular); $('#celular').text(dato.celular);
                     
                      //webpage
                      $('#web').val(dato.website); $('#web').text(dato.website);
                      
                      //direccion
                      $('#direccion').val(dato.direccion); $('#direccion').text(dato.direccion);
                      
                      //referencia
                      $('#referencia').val(dato.referencia); $('#referencia').text(dato.referencia);
                      
                      latitud = dato.latitud;
                      longitud = dato.longitud;
                      
                      //departamento, provincia y distrito
                      var url = '{{path('servicio_ubigeo',{'id':'cod'}) }}';
                       var ruta = url.replace('cod',dato.id_ubigeo);
                       
                      ubigeo = dato.id_ubicacion;

                      $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "POST",
                                async: false,
                            }
                        ).done(ubicacion);
                      
                      //mapa
                     mapa(dato.latitud, dato.longitud);
                 }
             }
             function ubicacion(dato)
             {
                 if(dato!=false)
                 {
                    //lista de departamentos

                   $('#departamento').val(dato[0].departamento);

                   $('#provincia').val(dato[0].provincia);

                   $('#distrito').val(dato[0].id);
                  
                 }
                 
             }
             
            function convertido(dato)
             {
                 if(dato!=false)
                 {
                     $('#red').val(dato.id_red); $('#red').text(dato.id_red);
        
                     recargar_celula(dato.id_red);
                     
                     $('#celula').val(dato.id_celula); $('#celula').text(dato.id_celula);
                     
                     $('#fecha1').val(dato.fecha_conversion); $('#fecha1').text(dato.fecha_conversion);
                     //peticion 
                    //$('#inputDescripcion').val(dato.peticion);
                    
                    var url = '{{path('servicio_lugar_id',{'id':'cod'}) }}';
                    var ruta = url.replace('cod',dato.id_lugar);
                    
                       
                    $.ajax(
                            {   url : ruta,
                                dataType:"json",
                                type: "GET",
                                async: false,
                            }
                        ).done(lugar);
                            
                     if(dato.id_red != null)
                     {
                         url = '{{path('servicio_lider_red_id',{'id':'cod'})}}';
                         ruta = url.replace('cod',dato.id_red);
                         $.ajax(
                                 {
                                   url:ruta,
                                   dataType: "json",
                                   type: "POST",
                                   async: false,
                                 }
                                ).done(function(data){
                             
                                if(data!=false)
                                {
                                    $('#lider').val(dato.nombre+" "+dato.apellidos);
                                    $('#lider').text(dato.nombre+" "+dato.apellidos);
                                }
                         });
                     }
                                             
                 }
             }
             function lugar(dato)
             {
                $('#lugar').val(dato[0].nombre);
             }
             
             function recargar_celula(nombre)
            {
                //var nombre = $("#red_lista option:selected").val();  
            
                 var route = '{{path('servicio_celula',{'id': 'name'})}}';
            
                 var rutas = route.replace('name',nombre);
         
            
                 $.ajax(
                        {url : rutas,
                         dataType:"json",
                        type: "POST",
                        async: false,
                        }
                        ).done(celula);           
     
            }
            function celula(dato)
            {
                $('#celula_lista').empty();
                for(var i=0;i<dato.length; i++)
                {   
                    $('<option value='+dato[i].id+'>'+dato[i].id+'</option>').appendTo('#celula_lista');
                }
        
            }
             function mapa(latitud, longitud)
             {
                  var ruta ="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:S%7C"+latitud+','+longitud+"&sensor=false&key=AIzaSyCSLn3MOXmjCshXPj48FhUFg94X9ZgQZgA";
                         
                 var imagen = '<img src="'+ruta+'">'
                 
                 $(imagen).appendTo('#ubicacionexacta');
             }
            </script>
            
{% endblock %}
</html>
