{% extends "::base.html.twig" %}

{% block titulo %}Lista Miembros por Red - {% endblock %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/DT_bootstrap.css')}}" rel="stylesheet" type="text/css">  
{% endblock %}

{%block content %}    
<div class="span9">
	<h1>Lista Miembros por Red</h1>
	<br>
     <div class="form-horizontal">
        <div class="control-group">
        	<label class="control-label" >Red</label>
            <div class="controls">
                <select id="red_lista" name="red_lista">
                   
                </select>
            </div>
        </div>
     </div>
	<div class="box">
		<div class="box-head tabs">
            <h3>Miembros de la Red</h3>							
        </div>

        <div class="box-content box-nomargin">
        	<form id='form' method='POST'>
                <input id='content' type='hidden' name='content' >
				<input id='title' type='hidden' name='title' >
				<input id='pdfbutton' type='button' value='PDF' class="btn btn-info">
				<input id='excelbutton' type='button' value='Excel' class="btn btn-info">
				
    <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped dataTable table-bordered"  id="persona" name="persona">
        <thead>
            <tr>
                <th>ID</th>
		<th>Nombres</th>
		<th>Apellidos</th>
		<th>Edad</th>
                <th>Red</th>
                <th>Celula</th>
		<th>Conversión</th>
            </tr>
	</thead>
	<tbody id="tablas1" name="tablas1" >
	
	</tbody>
	
    </table>
        </form>
    	</div>
	</div>
    <div class="form-horizontal">
    	<button class="btn btn-primary" id="vista" name="vista">Ver Datos</button>
    </div>
 </div>    
{% endblock %}
      
 {%block javascript %}
 	
 	<script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
                        <script src="{{asset('js/ganar.js')}}"></script>
                        <script src="{{asset('js/tablasfeatures.js')}}"></script>

            <script src="http://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
            <script type="text/javascript" charset="utf-8" language="javascript" src="{{asset('js/DT_bootstrap.js')}}"> </script>
                        
        
 
    <script type="text/javascript">
       
         var trselected; 
	 var oTable;
         
        var values = [];
        
	$(document).ready(function() {
            
            
              var rede = '{{red}}';
                  
            {% if is_granted('ROLE_GANAR') or is_granted('ROLE_ENVIAR') 
            or is_granted('ROLE_DISCIPULAR') or is_granted('ROLE_CONSOLIDAR') %}
    
                              initRed('{{path('servicio_red_sin')}}');
                                                      
            {% else %}                      
                      
                      if(rede.length ===0)
                      $("<option value='-1'>Sin red </option>").appendTo('#red_lista');
                      else $("<option value='"+rede+"'>"+rede+"</option>").appendTo('#red_lista');
                      recargar_celula();

            {% endif%}

            $("#pdfbutton").click(function(event) {
            $("#persona th").css("width","auto");
        	$("#content").val($("#persona").html());
        	$("#title").val($("h3").html() + " " + $("#red_lista").val());
        	//$("#content").val($("#lol").html() + $("tbody").html());
            $("#form").attr("action", "{{asset('extensiones/exportpdf.php')}}");
	 		$("#form").submit();
        });

        $("#excelbutton").click(function(event) {
        	$("#content").val("<table>" + $("#persona").html() + "</table>");
	$("#form").attr("action", "{{asset('extensiones/exportexcel.php')}}");
	$("#form").submit();
        });
            
            
             $("#red_lista").change(tablas);
             
             

        
             $('#persona tbody').click(function(event){
                $(oTable.fnSettings().aoData).each(function(){
                    $(this.nTr).removeClass('row_selected');
                });
                
                $(event.target.parentNode).addClass('row_selected');
                
                trselected = $(event.target.parentNode);
                
                var tds = $(trselected).find('td');
                
                values = [];
  
                $.each(tds, function(index, item) {
                    values.push(item.innerHTML); 
                });               
            });
            
            //click handler para eliminar
            $('#vista').click(function(){
                var anSelected = fnGetSelected(oTable);
                //oTable.fnDeleteRow(anSelected[0]);
                if(anSelected.length !=0)
                {
                    console.log(anSelected);
                    var tds = $(anSelected).find('td');
                    var val = [];
                    $.each(tds, function(index, item) {
                    val.push(item.innerHTML); 
  
                      }); 
                    var route = '{{path('ganar_vistamiembro',{'id': 'nom'})}}';
            
                    var rutas = route.replace('nom',val[0]);
                    
                    console.log(rutas);
                    window.open(rutas,'1359563086883','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
               
                }
            });
            
            //click handler para vista
 
	 });
        
         
         function recargar_celula()
         {
                             tablas();

         }
          function tablas(){
             
            var red = $("#red_lista option:selected").val(); 
             var route = '{{path('servicio_miembro_red',{'red': 'name'})}}';
            
             var rutas = route.replace('name',red);
            

              /* Build the DataTable with third column using our custom sort functions */
              
              $("#persona tbody").empty();
            oTable = $('#persona').dataTable( {
                                    
            	"bProcessing": true,
                "bServerSide": false,
                "bDestroy": true,
                "sAjaxSource": rutas,
                "aoColumns": [
                    { "mDataProp": "id" },
                    { "mDataProp": "nombre" },
                    { "mDataProp": "apellidos" },
                    { "mDataProp": "edad" },
                    { "mDataProp": "red" },
                    { "mDataProp":"celula"},
                    { "mDataProp": "fecha"}
                ],
		"aaSorting": [ [0,'asc'], [1,'asc'] ],
		"aoColumnDefs": [
                    { "sType": 'string-case', "aTargets": [ 2 ] }
		],"sDom": 'T&lt;"clear"&gt;lfrtip',
                "oTableTools": {
			"sRowSelect": "single",
                        "sSwfPath": "{{asset('js/tabletools/media/swf/copy_csv_xls_pdf.swf')}}",
                        "fnRowSelected": function ( node ) {
                            var s=$(node).children();
                            alert("Selected Row : " + s[0]);
                        },
                        "aButtons": [
				"copy",
				"csv",
				"xls",
				{
					"sExtends": "pdf",
					"sPdfOrientation": "landscape",
					"sPdfMessage": "Your custom message would go here."
				},
				"print"
			]
		},
                "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
					"sPaginationType": "bootstrap",
					"oLanguage": {
						"sLengthMenu": "_MENU_ registros por página"
					}
            } );	
         }
         
       </script>
{%endblock %}