{% extends "::base.html.twig" %}
  {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
 {% endblock %}
         
  {%block javascript %}
  	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.js')}}"></script>
	<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
	<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
	<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
	<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
	<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
	<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
	<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
	<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
	<script src="{{asset('js/ui.spinner.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>			
	<script src="{{asset('js/functiongen.js')}}"></script>
            
    <script type="text/javascript">
            $(document).ready(function() {
            	var data = $.ajax({
                    url: "{{ path('_lista_cursos',{'tipo':'simple'}) }}",
                    async: false
                    }).responseText;
				$('#select_curso').html(data);

				var data2 = $.ajax({
					url: "{{ path('_tabla_personal',{'tipo':'simple'}) }}",
					async: false
					}).responseText;
				$('#select_profesor').html(data2);

				var data3 = $.ajax({
					url: "{{ path('_option_local',{'tipo':'simple'})}}",
					async: false
					}).responseText;
				$('#select_local').html(data3);

				ajaxResposeData("tabla_asignacion","{{ path('_tabla_asignacion')}}");  
				     	
				enviar("AsignarForm",sayhola);
            	});
            
            var sayhola = function(data){
        		console.log(data);
        		//location.reload();
        		 }   
    </script>             
{%endblock%}
            
            
{% block content %}
    <fieldset>
		<form id="AsignarForm" method="POST" action="{{path('discipular_registrar_asignacion')}}">
			<div>
				<label>Profesor</label>
				<div id="select_profesor">
			</div>
			<label>Curso</label>
			<div id="select_curso">
			</div>
			<div>
				<label>Dia</label>
				<select name="dia">
					<option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miercoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sabado">Sabado</option>
                    <option value="Domingo">Domingo</option>
				</select>
			</div>
			<label>Local</label>
			<div id="select_local">
			</div>		
			<div>
			<label>Hora Inicio</label>
			<input name="hora_inicio" type="time">
			<label>Hora Fin</label>
			<input name="hora_fin" type="time">
			</div>
			<div>
			<input type="submit" value="enviar">
			</div>
			
		</form>
	</fieldset>
	<fieldset>
		<legend>Asignados</legend>
		<div id="tabla_asignacion">
		</div>
	</fieldset>
{% endblock %}    