{% extends "::base.html.twig" %}

{% block titulo %}Asignar Personal - {% endblock %}

  {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/DT_bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('css/bootstrap.datepicker.css')}}">
 {% endblock %}
         
  {%block javascript %}
  	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.js')}}"></script>
	<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
	<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
	<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
	<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
	<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
	<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
	<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
	<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
	<script src="{{asset('js/ui.spinner.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>			
	<script src="{{asset('js/functiongen.js')}}"></script>
	<script src="{{asset('js/datatable_plugins.js')}}"></script>
        <script src="{{asset('js/tiempo.js')}}" ></script>
            
    <script type="text/javascript">

		    var trselected; 
			var oTable = null;
			var values = [];
            $(document).ready(function() {
                
                
             FechaActualT('fecha_inicio');
            	reloadData();
				     	
				enviar("AsignarForm",sayhola);
				enviar("EliminarAsignacionForm",sayhola);
				enviar("CerrarAsignacionForm",sayhola);
				enviar("CerrarMatriculaForm",sayhola);

				$("#pdfAsignacion").click(function(event) {
		            $("#tabla_asignacion th").css("width","auto");
		        	$("#content").val($("#tabla_asignacion").html());
		        	$("#title").val($("h3").html());
		            $("#AsignacionExportForm").attr("action", "{{asset('extensiones/exportpdf.php')}}");
			 		$("#AsignacionExportForm").submit();
		        });

		        $("#excelPAsignacion").click(function(event) {
		        	$("#content").val("<table>" + $("#tabla_asignacion").html() + "</table>");
					$("#AsignacionExportForm").attr("action", "{{asset('extensiones/exportexcel.php')}}");
					$("#AsignacionExportForm").submit();
				        });
		    	
		        $('#tabla_asignacion tbody').click(function(event){
					$(oTable.fnSettings().aoData).each(function(){
						$(this.nTr).removeClass('row_selected');
			 		});
			        $(event.target.parentNode).addClass('row_selected');
			        	trselected = $(event.target.parentNode);
			            var tds = $(trselected).find('td');
			  			$.each(tds, function(index, item) {
			            	values.push(item.innerHTML); 
			            });
			  			var anSelected = fnGetSelected(oTable);
						if(anSelected.length !=0){
							var tds = $(anSelected).find('td');
							var val = [];
							$.each(tds, function(index, item) {
								val.push(item.innerHTML); 
							});
							$("#eliminar").prop('disabled', false);
							$("#idAsignacionEliminar").val(val[0]);
							$("#idAsignacionCerrar").val(val[0]);  
							$("#idAsignacionCerrarMatricula").val(val[0]);     
							}
						});
			        oTable = $('#tabla_asignacion').dataTable({
						"bProcessing": true,
						"bServerSide": false,
						"bDestroy": true,
						"sAjaxSource": '{{path("_tabla_asignacion")}}',
						"aoColumns": [
					            { "mDataProp": "id" },
			                    { "mDataProp": "nombre" },
			                    { "mDataProp": "apellidos" },
			                    { "mDataProp": "curso" },
			                    { "mDataProp": "dia" },
			                    { "mDataProp": "hora_inicio"},
			                    { "mDataProp":"hora_fin"},
			                    { "mDataProp":"estado_matricula"},
			                    { "mDataProp":"activo"}
					                ],
						"aaSorting": [ [0,'asc'], [1,'asc'] ],
						"aoColumnDefs": [
				        	{ "sType": 'string-case', "aTargets": [ 2 ] }],
						"sDom": 'T<"clear">lfrtip',
				        "oTableTools": {
							"sRowSelect": "single",
				            "fnRowSelected": function ( node ) {
				            	var s=$(node).children();
				                alert("Selected Row : " + s[0]);
				            }
						},
						"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
						"sPaginationType": "bootstrap",
						"oLanguage": {
							"sLengthMenu": "_MENU_ registros por página"
						}
					});
            	});
            
            var sayhola = function(data){
                console.log(data);
        		oTable.fnReloadAjax();
        		reloadData();
        		$("#AsignarForm").reset();
        		 };

        	function reloadData(){
        		ajaxResposeData("select_curso","{{ path('_lista_cursos',{'tipo':'simple'}) }}");
				ajaxResposeData("select_profesor","{{ path('_option_personal',{'tipo':'simple'}) }}");
				ajaxResposeData("select_local","{{ path('_option_local',{'tipo':'simple'})}}");
            }

    </script>             
{%endblock%}
            
            
{% block content %}
<div class="span9" id="registro_form">
    <h1>Asignar Personal</h1>
    <fieldset>
		<form id="AsignarForm" class="form-horizontal" method="POST" action="{{path('discipular_registrar_asignacion')}}">
			<legend>Asignar Curso</legend>
			<div class="control-group">
				<label class="control-label">Profesor</label>
				<div id="select_profesor" class="controls">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Curso</label>
				<div id="select_curso" class="controls">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Fecha de Inicio</label>
				<div class="controls">
					<input type= "text" class="datepick" name="fecha_inicio" id="fecha_inicio" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Día</label>
				<div class="controls">
					<select name="dia">
	                    <option value="Jueves">Jueves</option>
	                    <option value="Domingo">Domingo</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Local</label>
				<div id="select_local" class="controls">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Hora Inicio</label>
				<div class="controls">
					<input name="hora_inicio" type="time" value='00:00:00'>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Hora Fin</label>
				<div class="controls">
					<input name="hora_fin" type="time" value='00:00:00'>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Enviar">
				</div>
			</div>
			
		</form>
	</fieldset>
	<fieldset>
		<div class="box">
		<div class="box-head tabs">
            <h3>Administrar Asignaciones</h3>						
        </div>
        <div class="box-content box-nomargin">
        	<form id='AsignacionExportForm' method='POST'>
        		<input id='content' type='hidden' name='content' >
                <input id='title' type='hidden' name='title' >
                <input id='pdfAsignacion' type='button' value='PDF' class="btn btn-info">
                <input id='excelPAsignacion' type='button' value='Excel' class="btn btn-info">
            </form>
		    <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped dataTable table-bordered"  id="tabla_asignacion" name="tabla_asignacion">
		    	<thead>
		            <tr>
						<th>ID</th>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Curso</th>
						<th>Dia</th>
		                <th>Hora <br> Inicio</th>
		                <th>Hora <br> Fin</th>
		                <th>Estado <br> Matricula</th>
		                <th>Estado</th>
		            </tr>
				</thead>
				<tbody id="tablas2" name="tablas2" ></tbody>
		    </table>
		</div>
                {% if (is_granted('ROLE_DISCIPULAR'))%}
		<div id="alineados">
                    <form  method="POST" id="CerrarAsignacionForm" action='{{path('discipular_cerrar_asignacion')}}'>
			<input id="idAsignacionCerrar" type="hidden" name="id">
			<input type="submit" class="btn btn-danger" id="cerrar" name="enviar" value="Cerrar Curso">
                    </form>
                    <form  method="POST" id="CerrarMatriculaForm" action='{{path('discipular_cerrar_matricula')}}'>
			<input id="idAsignacionCerrarMatricula" type="hidden" name="id">
			<input type="submit" class="btn btn-danger" id="cerrarm" name="enviar" value="Cerrar Matricula">
                    </form>
                    <form  method="POST" id="EliminarAsignacionForm" action='{{path('discipular_eliminar_asignacion')}}'>
			<input id="idAsignacionEliminar" type="hidden" name="id">
			<input type="submit" class="btn btn-danger" id="eliminar" name="enviar" value="Eliminar">
                    </form>
		</div>
                {% endif %}
	</div>
	</fieldset>
</div>
{% endblock %}    