{% extends "::base.html.twig" %}
  {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('js/jquery-addresspicker/demos/themes/base/jquery.ui.all.css')}}">
        <link rel="stylesheet" href="{{asset('js/jquery-addresspicker/demos/demo.css')}}">           <!-- Scripts -->
 {% endblock %}
         
  {%block javascript %}
  	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/bootstrap.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
  	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
 	<script src="{{asset('js/FileUp.js')}}"></script>
            
    <script type="text/javascript">
            $(document).ready(function() {
            	var data = $.ajax({
                url: "{{ path('_lista_cursos') }}",
                async: false
                }).responseText;
            	$('#select_curso').html(data);
            	$('#number').on("change",cambioNumber);
            	
            	FileUp = new FileUp("cursos");
            	
            	$('#cargar').click(function(ev) {
            		FileUp.uploadQueue(ev);
            	});
            	
                function cambioNumber() {
                	var num = $('#number').val();
                	$("#sesiones").html("");
                	for(i=0; i<num;i++){
						var li = document.createElement('li');
						li.id = "sesion"+i;
	                	
	                	var select = document.createElement('select');                	
	                	select.name = "tipo"+i;
	                	li.appendChild(select);
	            			
	            		var option0 = document.createElement('option');
	            		var t = document.createTextNode("Sesion");
	            		option0.value = "2";
	            		option0.appendChild(t);
	            		select.appendChild(option0);
	
	            		var option1 = document.createElement('option');
	            		var t = document.createTextNode("Extra");
	            		option1.value = "1";
	            		option1.appendChild(t);
	            		select.appendChild(option1);
	
	            		var detall = document.createElement('input');
	            		detall.type = "text";
	            		detall.name = "detalle"+i;
	            		detall.placeholder = 'Detalle de sesion';
	            		detall.required = true;
	            		li.appendChild(detall);
	
	            		var file = document.createElement('input');
	            		file.type = "file";
	            		file.name = "file"+i;
	            		file.className = "fileup";
	            		li.appendChild(file);

	            		var hidden = document.createElement('input');
	            		hidden.type = "hidden";
	            		hidden.name = "filename"+i;
	            		hidden.className = "name";
	            		li.appendChild(hidden);

	            		var div = document.createElement('input');
	            		div.className = "loadbar";
	
	            		document.getElementById("sesiones").appendChild(li);
                	}
                	FileUp.init();
            	}
            });

            $("#myForm").submit(function(){
                
                //get the url for the form
                var url=$("#myForm").attr("action");
                 
                console.log($("#myForm").serialize());
                //start send the post request
                $.post(url,{
                    formName:$("#myForm").serialize(),
                    other:"attributes"
                },function(data){
                //the response is in the data variable
           
                console.log(data);
                
                if(data.responseCode==300 ){           
                	console.log("ok");
                }
                else if(data.responseCode==400){//bad request
                   alert('Error bad request');
                    }
                else{                        
                    if(data.responseCode==500)
                    {
                        alert('Error bad request');
                    }
                    else alert("An unexpeded error occured.");
                    }
                }
                );
                return false;});               
    </script>             
{%endblock%}
            
            
{% block content %}
    <div class="span9" id="registro_form">
    <form id="myForm" name="myForm" method="POST" action="{{path( 'dicipular_registrar_curso') }}">
     		<fieldset>
			<legend>Crear Curso</legend>
            
			<div>
				<label >Titulo</label>
				<input name="titulo" type="text" required>
			</div>	
			<div>
			<div>
				<label>Prerequisito</label>
				<div id="select_curso">
				</div>
			
				<label>Estado</label>
				<select name="estado">
					<option value="true">Activado</option>
					<option value="false">Desactivado</option>
				</select>
			</div>	
			<div>
				<label>Descripcion</label>
				<textarea name="descripcion" rows="15" cols="50" required></textarea>
			</div>
			
					
		</fieldset>
		<fieldset>
			<legend>Detalles de Sesiones</legend>
			<div>
				<label >Numero de Sesiones</label>
				<input id="number" name="numsesiones" type="number" required>
			</div>
			<br>
			<div>
				<ul id = "sesiones">				
				</ul>
			</div>
		</fieldset>
		<input id="cargar" type="button" value="Enviar">
		</form>	
	    </div>
{% endblock %}      