{% extends "::base.html.twig" %}
  {% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
 {% endblock %}
         
  {%block javascript %}
  	<script src="{{asset('js/jquery.js')}}"></script>
			<script src="{{asset('js/less.js')}}"></script>
			<script src="{{asset('js/bootstrap.min.js')}}"></script>
			<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
			<script src="{{asset('js/bootstrap.js')}}"></script>
			<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
			<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
			<script src="{{asset('js/jquery.fancybox.js')}}"></script>
			<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
			<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
			<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
			<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
			<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
			<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
			<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
			<script src="{{asset('js/ui.spinner.js')}}"></script>
			<script src="{{asset('js/custom.js')}}"></script>
  	
 	<script src="{{asset('js/FileUp.js')}}"></script>
            
    <script type="text/javascript">
            $(document).ready(function() {
                
            	var data = $.ajax({
                url: "{{ path('_lista_cursos',{'tipo':'multiple'}) }}",
                async: false
                }).responseText;
            	$('#select_curso').html(data);
            	$('#number').on("change",cambioNumber);
            	
            	FileUp = new FileUp("cursos");
            	
            	$('#cargar').click(function(ev) {
            		if(($("#titutlo").val()!= "") && ($("#descripcion").val()!= "") && ($("#number").val()!= "") && ($(".detalle").val()!= "")){
						FileUp.uploadQueue(ev);
					}
            		else
                		alert("Faltan Datos por llenar!")
            	});
            	
                function cambioNumber() {
                	var num = $('#number').val();
                	$("#sesiones").html("");
                	for(i=0; i<num;i++){
						var li = document.createElement('li');
						li.id = "sesion"+i;
	                	
	                	var select = document.createElement('select');                	
	                	select.name = "tipo"+i;
	                	li.appendChild(select);
	            			
	            		var option0 = document.createElement('option');
	            		var t = document.createTextNode("Sesion");
	            		option0.value = "2";
	            		option0.appendChild(t);
	            		select.appendChild(option0);
	
	            		var option1 = document.createElement('option');
	            		var t = document.createTextNode("Extra");
	            		option1.value = "1";
	            		option1.appendChild(t);
	            		select.appendChild(option1);
	
	            		var detall = document.createElement('input');
	            		detall.type = "text";
	            		detall.name = "detalle"+i;
	            		detall.placeholder = 'Detalle de sesion';
	            		detall.className = "detalle";
	            		detall.required = true;
	            		li.appendChild(detall);
	
	            		var file = document.createElement('input');
	            		file.type = "file";
	            		file.name = "file"+i;
	            		file.className = "fileup";
	            		li.appendChild(file);

	            		var hidden = document.createElement('input');
	            		hidden.type = "hidden";
	            		hidden.name = "filename"+i;
	            		hidden.className = "name";
	            		li.appendChild(hidden);

	            		var div = document.createElement('input');
	            		div.className = "loadbar";
	
	            		document.getElementById("sesiones").appendChild(li);
                	}
                	FileUp.init();
            	}
            });

            $("#myForm").submit(function(){
                
                //get the url for the form
                var url=$("#myForm").attr("action");
                 
                //start send the post request
             
                
                $.post(url,{
                    formName:$("#myForm").serialize(),
                    other:"attributes"
                },function(data){
                //the response is in the data variable
           
                console.log(data);
                
                if(data.responseCode==300 ){           
                	console.log("ok");
                }
                else if(data.responseCode==400){//bad request
                   alert('Error bad request');
                    }
                else{                        
                    if(data.responseCode==500)
                    {
                        alert('Error bad request');
                    }
                    else alert("An unexpeded error occured.");
                    }
                }
                );
                return false;});               
    </script>             
{%endblock%}
            
            
{% block content %}
    <div class="span9" id="registro_form">
    <form class="form-horizontal" id="myForm" name="myForm" method="POST" action="{{path( 'discipular_registrar_curso') }}">
     		<fieldset>
			<legend>Crear Curso</legend>
			<div class="control-group">
				<label class="control-label">Titulo</label>
				<div class="controls">
					<input class="input-xxlarge" name="titulo" id="titulo" type="text" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Prerequisito</label>
				<div class="controls">
					<div id="select_curso">
					</div>
				</div>
				<br>
				<label class="control-label">Estado</label>
				<div class="controls">
					<select name="estado" id="estado" required>
						<option value="true">Activado</option>
						<option value="false">Desactivado</option>
					</select>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label">Descripcion</label>
				<div class="controls">
					<textarea class="input-xxlarge" name="descripcion" id="descripcion" rows="3" required></textarea>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Detalles de Sesiones</legend>
			<div class="control-group">
				<label class="control-label">Número de Sesiones</label>
				<div class="controls">
					<input id="number" name="numsesiones" type="number" required>
				</div>
			</div>
			<br>
			<div>
				<ul id = "sesiones" class="lista-arch">				
				</ul>
			</div>
		</fieldset>
		<input id="cargar" type="button" value="Enviar" >
		</form>	
	    </div>
{% endblock %}      
