{% extends "::base.html.twig" %}

{% block titulo %}Informe Visión - {% endblock %}

{% block stylesheets %}
	<link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/DT_bootstrap.css')}}">
    <style>
    	.encurso{
    		color: #008500;
    	}
    	.cerrado{
    		color: #fb000d;
    	}
	</style>
{% endblock %}

{%block javascript %}
  	<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/less.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.uniform.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.js')}}"></script>
	<script src="{{asset('js/bootstrap.timepicker.js')}}"></script>
	<script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
	<script src="{{asset('js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('js/jquery.fancybox.js')}}"></script>
	<script src="{{asset('js/plupload/plupload.full.js')}}"></script>
	<script src="{{asset('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
	<script src="{{asset('js/jquery.cleditor.min.js')}}"></script>
	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>
	<script src="{{asset('js/jquery.tagsinput.min.js')}}"></script>
	<script src="{{asset('js/jquery.mousewheel.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('js/jquery.dataTables.bootstrap.js')}}"></script>
	<script src="{{asset('js/jquery.textareaCounter.plugin.js')}}"></script>
	<script src="{{asset('js/ui.spinner.js')}}"></script>
	<script src="{{asset('js/custom.js')}}"></script>			
	<script src="{{asset('js/functiongen.js')}}"></script>
            
    <script type="text/javascript">
            $(document).ready(function() {
            	ajaxResposeDataPost("div_redes_option","{{ path('_enviar_lista_red')}}");
                
                var rede = '{{red}}';
                
                if(rede.length>0)
                {
                    $('#redes_select_option').emptyl();
                    
                    $("<option value='"+rede+"'>"+rede+"</option>").appendTo('#redes_select_option');
                    
                }
                
            	var red = $("#redes_select_option").val();
            	url = "{{path('_option_celula_red',{'idred':'idred'})}}";
            	url = url.replace('idred',red);
            	ajaxResposeDataPost("div_lider_option",url);

            	$("select").change(function(){
            		var red = $("#redes_select_option").val();
                	url = "{{path('_option_celula_red',{'idred':'idred'})}}";
                	url = url.replace('idred',red);
                	ajaxResposeDataPost("div_lider_option",url);
                	var celula = $("#lider_select_option").val();
                        
                	if(typeof(celula)=== 'undefined')
                    	celula=null;
                	url = "{{path('_tabla_informe_discipular',{'idcelula':'idcelula'})}}";
                	url = url.replace('idcelula',celula);
                		ajaxResposeDataPost("informevision",url);
 				});
 				
            	var celula = $("#lider_select_option").val();
            	url = "{{path('_tabla_informe_discipular',{'idcelula':'idcelula'})}}";
            	url = url.replace('idcelula',celula);
            	ajaxResposeDataPost("informevision",url);
                $("#red").text($("#redes_select_option").val());
                
                $("#pdfInforme").click(function(event) {
                	$("#content").val($("#tabla_vision").html());
                	$("#title").val($("#titulo").html());
                    $("#ExportForm").attr("action", "{{asset('extensiones/exportpdf.php')}}");
        	 		$("#ExportForm").submit();
                });

                $("#excelInforme").click(function(event) {
                	$("#content").val("<table>" + $("#tabla_vision").html() + "</table>");
        			$("#ExportForm").attr("action", "{{asset('extensiones/exportexcel.php')}}");
        			$("#ExportForm").submit();
        		        });
            });
            
            var sayhola = function(data){
        		console.log(data);
        		location.reload();
        		};
    		function EnviarMatricular(boton){
        		$("#idCurso").val($(boton).attr("data"));
        		$("#IrAForm").attr("action","{{ path('discipular_matricular')}}");
        		$("#IrAForm").submit();
        	}
        	function IrAAsignacion(boton){
        		$("#idCurso").val($(boton).attr("data"));
        		$("#IrAForm").attr("action","{{ path('discipular_lista_clases')}}");
        		$("#IrAForm").submit();
            }
        	
    </script>             
{%endblock%}

{% block content %}
            <div class="row-fluid">

	<div class="span12">
<h1>Informe Visión</h1>
<br>
<div class="form-horizontal">
	<div class="control-group">
    	<label class="control-label" >Escoge una Red:</label>
        	<div class="controls">
            	<div id="div_redes_option">
				</div>
            </div>
    </div>
    <div class="control-group">
    	<label class="control-label" >Escoge un Lider:</label>
        	<div class="controls">
            	<div id="div_lider_option">
				</div>
            </div>
    </div>
</div>
<form id='ExportForm' method='POST' style="margin-bottom:0;">
    <input id='content' type='hidden' name='content' >
    <input id='title' type='hidden' name='title' >
    <input id='pdfInforme' type='button' value='PDF' class="btn btn-info">
	<input id='excelInforme' type='button' value='Excel' class="btn btn-info">
</form>
		<div class="box" style="margin-top:0;">
			<div class="box-head">
				<h3>Informe Visión de la Red <strong id="red"></strong></h3>
			</div>
			<div class="box-content box-nomargin" id="informevision">
			</div>
		</div>
</div>
                
</div>

{% endblock %}