{% extends "::base.html.twig" %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" media="screen" rel="stylesheet" type="text/css">
        <link href="{{asset('css/DT_bootstrap.css')}}">
        <link href="{{asset('js/jquery-addresspicker/demos/themes/base/jquery.ui.all.css')}}">
        <link href="{{asset('js/jquery-addresspicker/demos/demo.css')}}"> 
        <link rel="stylesheet" href="{{asset('css/bootstrap.datepicker.css')}}">

{% endblock %}

{% block content %}
<div class="span9" >
    <form class="form-horizontal" method="POST" id="myForm" name="myForm" action="{{path('administrar_clase_registrar')}}">

              <fieldset> 
                  <legend>Leche Espiritual</legend>
                  <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                        <input class="input-xxlarge" type="text" name="nombre" id="nombre" pattern="|^[a-zA-Z ñÑáéíóúüç0-9]*$|" required />
                    </div>
                  </div>
    
                  <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                     
                    <textarea rows="5" id="inputDescripcion" name="inputDescripcion" class="input-xxlarge"> </textarea>
                    <p class="help-block">Descripción del tema del libro</p>
                    
                    </div>
                  </div> 
                  
                  
                  <div class="control-group">
                  
                      <label class="control-label">Fecha Creación</label>
                      <div class="controls">
                        <input type= "text" class="datepick" id="inputFecha" name="inputFecha"/>
                      </div>
                  </div>
               
                  
               <div class="control-group">
                  <label class="control-label">Número de clases</label>
                  <div class="controls">
                      <input class="input-medium" type="text" id="inputClases" name="inputClases"  value="0" pattern="[0-9]+" />
 
                  </div>
              </div>
  
              <div class="control-group">
                  <label class="control-label"></label>
                  <div class="controls">
                      <input class="btn btn-primary" type="submit" name="login" value="Crear Leche" />
                  </div>
              </div>
                  
              </fieldset>
              
              </form>
    
            <form id="leche" name="leche" action="{{path('administrar_tema_leche')}}" method="POST">
                <fieldset>
                    <div id="temas">
                  
                    </div>
                </fieldset>
            </form>
    
    
    <div id="wrap" name="wrap" class="form-horizontal">
		<legend>Subir Archivos</legend>

            <form id="uploadfile" action="" method="post" enctype="multipart/form-data" >
            	<div class="control-group">
            		<label class="control-label">Escoja múltiples archivos</label>
                	<div class="controls">
                		<input type="file" id="fileField" name="fileField" multiple />
                	</div>
                </div>
            </form>

            <div id="fileDrop" style="display:none;">
                <p>Arrastre los archivos aquí</p>
            </div>

            <div id="files">
                <legend>Lista de archivos</legend>
                <a id="reset" href="#" title="Remover todos los archivos de la lista" class="btn btn-danger">Borrar todos los archivos</a>
                <ul id="fileList"></ul>
                <a id="upload" href="#" title="Cargar todos los archivos en lista" class="btn btn-primary">Subir los archivos</a>
               
            </div>
            
            <label id="lechesp" name="lechesp" style="display:none;"></label>
        </div>
              
        
 </div>    
 {% endblock %}
      
 {%block javascript %}
 	<script src="{{asset('js/jquery.js')}}"></script>
				<script src="{{asset('js/less.js')}}"></script>
				<script src="{{asset('js/bootstrap.js')}}"></script>
				<script src="{{asset('js/bootstrap.min.js')}}"></script>
				<script src="{{asset('js/jquery.peity.js')}}"></script>
				<script src="{{asset('js/jquery.fancybox.js')}}"></script>
				<script src="{{asset('js/jquery.flot.js')}}"></script>
				<script src="{{asset('js/jquery.color.js')}}"></script>
				<script src="{{asset('js/jquery.flot.resize.js')}}"></script>
				<script src="{{asset('js/custom.js')}}"></script>
			    <script src="{{asset('js/jquery-addresspicker/lib/jquery-ui-1.8.7.min.js')}}" > </script>
                                <script src="{{asset('js/jquery-addresspicker/src/jquery.ui.addresspicker.js')}}"> </script>     
                                <script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
			  	<script src="{{asset('js/jquery.inputmask.min.js')}}"></script>                                
                                <script src="{{asset('js/tiempo.js')}}"></script>			  	
                                <script src="https://www.google.com/jsapi"></script>

    <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
    <script type="text/javascript" src="{{asset('js/FileAPI.js')}}"></script>
 	
    <script type="text/javascript">

        var ident = -1;
         
	$(document).ready(function() {
            
            $("#wrap").css({"display":"none"});
          
            $("#myForm").submit(function(){
                             
                    //get the url for the form
                    var url=$("#myForm").attr("action");
                     
                    console.log($("#myForm").serialize());
                    //start send the post request
                    $.post(url,{
                        formName:$("#myForm").serialize(),
                        other:"attributes"
                    },function(data){
                    //the response is in the data variable
               
                    if(data.responseCode==300 ){           
                      
                        
                        var href="{{path('main')}}";
                        
                        iden = data.id ;
                        
                        $("#lechesp").text(iden); $("#lechesp").val(iden);
                        
    
                        $('#nombre').attr('disabled', '');
                        $('#inputDescripcion').attr('disabled', '');
                        $('#inputFecha').attr('disabled', '');
                        $('#inputClases').attr('disabled', '');

                        add_lines();
             
                        //$(location).attr('href',href); 
                    }
                    else if(data.responseCode==400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode==500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    }
                    );
                    return false;});
        });
        
        $("#leche").submit(function(){
                       
                    //get the url for the form
                    var url=$("#leche").attr("action");
                     
                    console.log($("#leche").serialize());
                    //start send the post request
                    $.post(url,{
                        formName:$("#leche").serialize(),
                        id: iden ,
                        num: $('#inputClases').val(),
                        other:"attributes"
                    },function(data){
                    //the response is in the data variable
               
                    if(data.responseCode==300 ){           

                        var href="{{path('main')}}";
                        $("#wrap").css({"display":"block"});

                        
                        //$(location).attr('href',href); 
                    }
                    else if(data.responseCode==400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode==500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    }
                    );
                    return false;
        });
        
        function add_lines()
        {
             var num = $('#inputClases').val();
                        var real = parseInt(num);
                        if(real==0)
                            alert("Ingrese número de clases");
                        else
                        {
                            $('#temas').empty();
                            $("<legend>Temas</legend>").appendTo('#temas');
                            for(var i=0;i<real;i++)
                            {
                                
                              $("<div class='form-horizontal'><div class='control-group'>"+               
                                    "<label class='control-label'>Tema "+(i+1)+"</label>"+
                                    "<div class='controls'>"+
                                "<input type= 'text' class='input-xxlarge' id='tema"+i+"' name='tema"+i+"'/> </div></div></div>"
                                ).appendTo('#temas');
                            }
                            
                            $("<div class='form-horizontal'><div class='control-group'>"+
                                    "<div class='controls'>"+
                                    "<input class='btn btn-primary' type='submit' name='tema' id='tema' value='Subir tema' /> </div></div></div>").appendTo('#temas');
       
                        }

        }
       
       </script>
{% endblock %}